
@use '@angular/material' as mat;
@import './../shared-styles.scss';
//@import './../buffer-theme.scss';

.main {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas: 
  "header"
  "main-content";
}

.header {
  grid-area:"header";
  
}

.main-content {
  grid-area: "main-content";
}

@media (max-width: 480px){
  .main {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "header"
    "main-content";
  }
}
  

