.main-card-container {
  display: grid;
  //margin-top: 15px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "calculator"
    "summary";

  gap: 5px; /* gap between */
  padding: 5px;
  background-color: transparent;
  grid-area: 1/1;
  box-shadow: none;
  align-items: center;
}
.formf {
  background-color: transparent;
}
.calculator {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "col1" "col2";
  width: 98%;

  margin-left: 0.5vw;
  padding: 5px;
  align-items: center;
  justify-items: center;
  box-shadow: none;
  background-color:var(--darkest-background-color);
}
.red-text {
  color: var(--red-error-color);
}
.option1-full-width_Left {
  width: 98%;
  margin-bottom: 8px;
  margin-right: 8px;
}

.option1-full-width_Right {
  width: 100%;
  margin-bottom: 8px;
}
.col1 {
  justify-self: left;
  width: 100%;
}

.col2 {
  justify-self: right;
  width: 100%;
}
.summary {
  width: 97%;
padding:10px;
padding-top:3px;
  box-shadow: none;
     background-color:var(--darkest-background-color);
}

.wide-button {
  grid-column: span 2;
  //width: 90%;
  font-size: large;
  font-weight: bold;
  color: var(--primary-text-color);
  width: 60%;

  background-color: var(--orange-background-color);
  //padding: 3px;

  border-radius: 25px;
 //margin-bottom: 5px;

  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--darker-orange-background-color);
  }

  @media (max-width: 450px) {
 
    font-size:small;
  }





}

.solution-card {
  display: none;
  margin-top: 5px;
  border-width: 3px;
  border-color: var(--gray-border-color);
  width: 99%;
  align-self: center;
}

.example-card-holder {
  position: relative;
  background-color: var(--primary-background-color);
  width: 98%;
  margin-left: 5px;
  margin-bottom: 5px;
}

.pH {
  align-self: center;
}
.less-space {
  margin-bottom: 1px;
}
.red_flag {
  color: var(--red-error-color);
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.green_flag {
  color: var(--green-success-color);
  margin: 4px;
  margin-left: 20px;
  padding: 0px;
}

.red {
  color: var(--red-error-color);
}
.green {
  color: var(--green-success-color);
}
.message-card {
  box-shadow: none;
  border: 1px solid var(--gray-border-color);
  padding: 0px;
  width: 97%;
  align-self: center;
   background-color:var(--darkest-background-color);
}
.right-align {
  text-align: right;
}

@media (max-width: 1500px) {
  .main-card-container {
    grid-template-columns: 1fr;
    /* stack vertically */
    grid-template-rows: auto 1fr;
    /* order with summary on bottom */
    grid-area: 1/1;
    background-color: transparent;
  }

  .calculator {
    display: grid;

    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1" "col2";

    width: 100%;

    margin-left: 0.5vw;

    padding: 5px;
    align-items: center;
    justify-items: center;
  }

  .wide-button {
    grid-column: span 2;
    width: 60%;
    margin-left: 5vw;
  }
}

@media (max-width: 550px) {
  .main-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-area: 1/1;
  }
  .calculator {
    display: flex;
    align-items: center;
    width: 97%;
    margin-left: 1vw;

    padding: 10px;
    align-self: center;
    justify-items: center;
  }
  .summary {
    width: 97%;
    margin-left: 1vw;
  }

  .wide-button {
    grid-column: span 2;
    width: 90%;
  }

  .option1-full-width_Left {
    width: 100%;
  }
}
