@import "src/buffer_colors.scss";

.main-card-container {
  display: grid;
  //margin-top: 15px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "calculator"
    "summary";

  gap: 5px; /* gap between */
  padding: 5px;
  background-color: transparent;
  grid-area: 1/1;
  box-shadow: none;
  align-items: center;
}
.formf {
  background-color: transparent;
}
.calculator {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "col1" "col2";
  width: 98%;
  border-color: $primary-color;
  border-width: 3px;
  margin-left: 0.5vw;
  padding: 5px;
  align-items: center;
  justify-items: center;
  box-shadow: none;
}
.red-text {
  color: red;
}
.option1-full-width_Left {
  width: 98%;
  margin-bottom: 8px;
  margin-right: 8px;
}

.option1-full-width_Right {
  width: 100%;
  margin-bottom: 8px;
}
.col1 {
  justify-self: left;
}

.col2 {
  justify-self: right;
}
.summary {
  width: 97%;
  margin-left: 0.5vw;
  box-shadow: none;
}

.wide-button {
  grid-column: span 2;
  width: 90%;
}

.solution-card {
  display: none;
  margin-top: 5px;
  border-width: 3px;
  border-color: $primary-color;
  width: 99%;
  align-self: center;
}

.example-card-holder {
  position: relative;
  background-color: rgb(248, 242, 247);
  width: 98%;
  margin-left: 5px;
  margin-bottom: 5px;
}

.pH {
  align-self: center;
}
.less-space {
  margin-bottom: 1px;
}
.red_flag {
  color: red;
  margin-left: 20px;
}
.green_flag {
  color: rgb(18, 121, 7);
  margin-left: 20px;
}

.message-card {
box-shadow:none;
border: 1px solid $card-background-cream;
padding:3px;
  width: 99%;
  align-self: center;
}
.right-align {
  text-align: right;
}

@media (max-width: 1500px) {
  .main-card-container {
    grid-template-columns: 1fr;
    /* stack vertically */
    grid-template-rows: auto 1fr;
    /* order with summary on bottom */
    grid-area: 1/1;
    background-color: transparent;
  }

  .calculator {
    display: grid;
    border-color: $primary-color;
    border-width: 3px;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "col1" "col2";

    width: 100%;
    //background-color: whitesmoke;
    margin-left: 0.5vw;
    //gap:1em;
    padding: 5px;
    align-items: center;
    justify-items: center;
  }

  .wide-button {
    grid-column: span 2;
    width: 90%;
    margin-left: 5vw;
    //background-color: $background-green;
  }
}

@media (max-width: 550px) {
  .main-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-area: 1/1;
  }
  .calculator {
    display: flex;
    align-items: center;
    width: 97%;
    margin-left: 1vw;

    padding: 10px;
    align-self: center;
    justify-items: center;
  }
  .summary {
    width: 97%;
    margin-left: 1vw;
  }

  .wide-button {
    grid-column: span 2;
    width: 90%;
  }

  .option1-full-width_Left {
    width:100%;
  }
}
