 <mat-card class="main-card-container">
  <form [formGroup]="bufferForm" (ngSubmit)="onSubmit()">
    <mat-card class="calculator">

      <div class="col1">

        <mat-form-field class="option1-full-width_Left" appearance="outline">
          <mat-label for="acidicCompound">Acidic Compound</mat-label>
          <mat-select id="acidicCompound" name="acidicCompound"
            ngDefaultControl
            formControlName="acidicCompound" required>
            <mat-option *ngFor="let compound of acidCompounds"
              [value]="compound" selected=compoundNames[0]>
              {{ compound }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="option1-full-width_Left" appearance="outline">
          <mat-label>Basic Compound</mat-label>
          <mat-select formControlName="basicCompound" required>
            <mat-option *ngFor="let compound of basicCompounds"
              [value]="compound">
              {{ compound }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="option1-full-width_Left" appearance="outline">
          <mat-label>Salt Compound</mat-label>
          <mat-select formControlName="saltCompound">
            <mat-option *ngFor="let compound of saltCompounds"
              [value]="compound">
              {{ compound }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <div class="col2">
        <mat-form-field class="option1-full-width_Right" appearance="outline">
          <mat-label>Acidic Concentration</mat-label>
          <mat-hint *ngIf="bufferForm.get('acidicConcentration').errors?.['max']">Conc should be less than 0.4 </mat-hint>
          <input matInput type="number" formControlName="acidicConcentration" class="right-align"
             
           required>
        <span matTextSuffix>M</span>
        </mat-form-field>

        <mat-form-field class="option1-full-width_Right" appearance="outline">
          <mat-label>Basic Concentration</mat-label>
          <mat-hint *ngIf="bufferForm.get('basicConcentration').errors?.['max']">Conc should be less than 0.4 </mat-hint>
          <input matInput type="number" formControlName="basicConcentration" class="right-align"
            required>
            <span matTextSuffix>M</span>
       
        </mat-form-field>

        <mat-form-field class="option1-full-width_Right" appearance="outline">
          <mat-label>Salt Concentration</mat-label>
          <input matInput type="number" formControlName="saltConcentration" class="right-align">
          <span matTextSuffix>M</span>
          <mat-hint *ngIf="bufferForm.get('saltConcentration').errors?.['max']">Conc should be less than 1 </mat-hint>
        
        </mat-form-field>
      </div>
      <div *ngIf="bufferForm.hasError('invalidBufferSelection')"><p class="red_flag">Choose atleast one buffer species containing compound</p></div>
      <button class="wide-button" mat-raised-button color="accent"
        type="submit"[disabled]="bufferForm.invalid">Calculate pH</button>

    </mat-card>

  </form>

  <mat-card class="summary">
    <mat-card class="solution-card" *ngIf="returnedSolution;">
      <mat-card-header>
        <!-- <div class="avatar">{{avatarLetter}}</div> -->
        <mat-card-title class="solution-name" [class.red-text]="returnedSolution.result_flag['flag'] === 'red'" >{{returnedSolution.name}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-subtitle>Buffer Composition Summary</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content
        *ngFor="let compound of returnedSolution.compound_concentrations | keyvalue">
        <p class="less-space" mat-headline-1> {{ compound.key }} : {{ compound.value | number: '1.3-3' }}M</p>
        <mat-divider></mat-divider>
        <h1></h1>
      </mat-card-content>


      <h2 class="pH"> pH : {{returnedSolution.pH | number:
        '1.3-3'}}</h2>
      <mat-divider></mat-divider>

    </mat-card>
    <mat-card class="message-card" *ngIf="returnedSolution && formSubmitted">
     <p class="red_flag" *ngIf="returnedSolution?.result_flag['flag'] !== 'green'">  <span class="material-icons">
      error
      </span>
      {{ '  '+returnedSolution.result_flag['comment'] }}
      </p>

      <p class="green_flag" *ngIf="returnedSolution?.result_flag['flag'] == 'green'">  <span class="material-icons">
        check_circle
        </span>
        &nbsp; Done!
        </p>
    </mat-card>


  </mat-card>
  </mat-card>







<!-- 
<h2>Create Solution</h2>
<form [formGroup]="bufferForm" (ngSubmit)="onSubmit()">
  <div class="option1-form">

    <div class="form-fields">
      <mat-form-field class="option1-full-width">
        <mat-label for="acidicCompound">Acidic Compound</mat-label>
        <mat-select id="acidicCompound" name="acidicCompound" ngDefaultControl
          formControlName="acidicCompound" required>
          <mat-option *ngFor="let compound of compoundNames" [value]="compound"
            selected=compoundNames[0]>
            {{ compound }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="option1-full-width">
        <mat-label>Acidic Concentration</mat-label>
        <input matInput type="number" formControlName="acidicConcentration"
          required>
        <mat-hint>mM</mat-hint>
      </mat-form-field>

    </div>
    <div class="form-fields">
      <mat-form-field class="option1-full-width">
        <mat-label>Basic Compound</mat-label>
        <mat-select formControlName="basicCompound" required>
          <mat-option *ngFor="let compound of compoundNames" [value]="compound">
            {{ compound }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="option1-full-width">
        <mat-label>Basic Concentration</mat-label>
        <input matInput type="number" formControlName="basicConcentration"
          required>
        <mat-hint>mM</mat-hint>
      </mat-form-field>

    </div>
    <div class="form-fields">
      <mat-form-field class="option1-full-width">
        <mat-label>Salt Compound</mat-label>
        <mat-select formControlName="saltCompound">
          <mat-option *ngFor="let compound of compoundNames" [value]="compound">
            {{ compound }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="option1-full-width">
        <mat-label>Salt Concentration</mat-label>
        <input matInput type="number" formControlName="saltConcentration">
        <mat-hint>mM</mat-hint>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <button class="space" mat-raised-button color="primary" type="submit">Create
      Solution</button>

    <mat-divider></mat-divider>
  </div>
</form>

<button class="space" mat-raised-button (click)="calculatepH()" color="accent">Calculate
  pH</button>

<div *ngIf="returnedSolution">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{returnedSolution.name}}</mat-card-title>
      <mat-card-subtitle>Three Compound Buffer</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div
        *ngFor="let compound of returnedSolution.compound_concentrations | keyvalue">
        <p>{{ compound.key }} : {{ compound.value | number: '1.3-3' }}</p>
      </div>
      <mat-label> <h2> pH : {{returnedSolution.pH | number: '1.3-3'}} </h2></mat-label>

    </mat-card-content>
  </mat-card>

</div>
 -->