@import "src/buffer_colors.scss";

.main-card-container {
  display: grid;
  //margin-top: 15px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "input"
    "summary";
  gap: 5px;
  padding: 5px;
  background-color: transparent;

  box-shadow: none;
  align-items: center;
}
.formf {
  background-color: transparent;
}
.option1-full-width {
  display: flex;
  width: 95%;
  margin-bottom: 8px;
  margin-right: 8px;
  //border:1px solid black;
  align-self: center;
}

.input {
  grid-area: input;
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 98%;
  margin-left: 0.5vw;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  justify-items: center;
  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}
.red-text {
  color: red;
}
.autocomplete_input {
  display: flex;
  grid-column: span 2;
  width: 80%;
  margin-bottom: 8px;

  align-self: center;
 // background-color: whitesmoke;

  box-shadow: none;
  @media (max-width: 550px) {
    grid-column: span 1;
  }
}






.summary {
  grid-area: summary;
  width: 97%;
  margin-left: 0.5vw;
  box-shadow: none;
}
.wide-button {
 grid-column: span 2;
  width: 90%;
  margin-left: 0.5vw;
  @media (max-width: 550px) {
    grid-column: span 1;
  }
}

.rounded_input_om {

padding-bottom: 15px;
}


.bold-label {
  font-size: medium;
  font-weight: bold;
}
.right-align {
  text-align: right;
} 
:host ::ng-deep .rounded_input_om .mdc-text-field--outlined {
 // border:3px solid rgb(195, 203, 197);
  //border-radius: 25px;
  --mdc-outlined-text-field-container-shape: 20px;
  --mdc-outlined-text-field-outline-width: 2px;
  --mdc-outlined-text-field-focus-outline-width: 4px;
  //background-color: yellow;
}


.solution-card {
  display: none;
  margin-top: 5px;
  border-width: 3px;
  border-color: $primary-color;
  width: 99%;
  align-self: center;
  box-shadow: none;
}

.example-card-holder {
  position: relative;
  background-color: rgb(248, 242, 247);
  width: 98%;
  margin-left: 5px;
  margin-bottom: 5px;
}

.pH {
  align-self: center;
  padding-bottom: 5px;
}
.comp-conc {
  margin-bottom: 2px;
}
.less-space {
  margin-bottom: 1px;
}
.red_flag {
  color: red;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.green_flag {
  color: rgb(18, 121, 7);
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-card {
box-shadow:none;
border: 1px solid $card-background-cream;
  padding: 0px;
  width: 99%;
  align-self: center;
}

