<mat-card class="main-card-container">
  <form [formGroup]="bufferForm" (ngSubmit)="onSubmit()" class="formf">
    <div class="input">
      <mat-card class="autocomplete_input">
        <mat-form-field appearance="outline" class="rounded_input_om">
          <input
            matInput
            type="text"
            placeholder="Type first few letters to select buffer species"
            aria-label="Number"
            formControlName="bufferSpeciesControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onBufferSpeciesSelected($event)"
          >
            <mat-option
              *ngFor="let option of filteredBufferSpecies | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-card>
      <mat-form-field class="option1-full-width" appearance="outline">
        <mat-label class="bold-label">{{ buffer_label }} </mat-label>
        <mat-hint *ngIf="bufferForm.get('totalConcentration').errors?.['max'] "
          >Conc should be less than 0.5
        </mat-hint>
        <input
          matInput
          type="number"
          formControlName="totalConcentration" class="right-align"
          placeholder="total conc. of buffer species (M)"
          required
        />
        <span matTextSuffix>M</span>
      </mat-form-field>
      <mat-form-field class="option1-full-width" appearance="outline">
        <mat-label>Target pH</mat-label>
        <mat-hint
          *ngIf="bufferForm.get('target_pH').errors?.['max'] || bufferForm.get('target_pH').errors?.['min'] "
          >pH should be between 3 and 10
        </mat-hint>
        <input matInput type="number" formControlName="target_pH" class="right-align" required />
        <span matTextSuffix> &nbsp;pH</span>
      </mat-form-field>

      <mat-form-field class="option1-full-width" appearance="outline">
        <mat-label for="acidicCompound">Acidic Compound</mat-label>
        <mat-select
          id="acidicCompound"
          name="acidicCompound"
          ngDefaultControl
          formControlName="acidicCompound"
          required
        >
          <mat-option
            *ngFor="let compound of selectedAcidCompounds"
            [value]="compound"
          >
            {{ compound }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="option1-full-width" appearance="outline">
        <mat-label>Basic Compound</mat-label>
        <mat-select formControlName="basicCompound" required>
          <mat-option
            *ngFor="let compound of selectedBasicCompounds"
            [value]="compound"
          >
            {{ compound }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="option1-full-width" appearance="outline">
        <mat-label>Salt Compound</mat-label>
        <mat-select formControlName="saltCompound">
          <mat-option *ngFor="let compound of saltCompounds" [value]="compound">
            {{ compound }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="option1-full-width" appearance="outline">
        <mat-label>Salt Conc. (M) </mat-label>
        <mat-hint *ngIf="bufferForm.get('saltConcentration').errors?.['max']"
          >Conc should be less than .5
        </mat-hint>
        <input
          matInput
          type="number"
          formControlName="saltConcentration" class="right-align"
          placeholder="salt concentration"
        />
        <span matTextSuffix>M</span>
      </mat-form-field>
      <button
        class="wide-button"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="bufferForm.invalid"
      >
        Get Buffer Design
      </button>
      <div *ngIf="bufferForm.hasError('invalidBufferSelection')">
        <p class="red_flag">
          Choose atleast one buffer species containing compound
        </p>
      </div>
    </div>
  </form>
  <mat-card class="summary">

    <mat-card
      class="message-card"
      *ngIf="returnedSolution && formSubmitted"
    >
      <p
        class="red_flag"
        *ngIf="returnedSolution?.result_flag['flag'] !== 'green'"
      >
        <span class="material-icons"> error </span>
        {{ "  " + returnedSolution.result_flag["comment"] }}
      </p>
      <p
        class="green_flag"
        *ngIf="returnedSolution?.result_flag['flag'] == 'green'"
      >
        <span class="material-icons"> check_circle </span>
        &nbsp; Done!
      </p>
    </mat-card>

 
  </mat-card>
</mat-card>
