.container{
   //background-color: aqua;
    display:flex;
   width:100%;
    padding:0px;
    gap:0px;
    font-size:x-small;
   box-shadow:none;
   height:100%;
   
}



// ::ng-deep .mat-step-header {
//     font-size: 12px;
//     font-weight: bold;
//     color: black;
//     padding:5px;
// }

:host ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 5px; /* Example */
   
  }

:host ::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0; /* Example */
    //width:80vw;
  }
  :host ::ng-deep .mat-horizontal-content-container {
    width:97vw;
    padding: 0 !important; /* Change '0' to your desired padding */
    padding-right: 5px !important;

  }

  .mat-card {
    box-shadow: none;
  }