<mat-card class="main-content-card">

  <mat-card class="form-card">

    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="formf">
            <mat-form-field class="input-field-2" appearance="outline">
        <mat-label>Choose a buffer species</mat-label>
        <input  type="text"
               placeholder="Start typing to see suggestions"
               matInput
               formControlName ="bufferSpeciesControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="onOptionSelected($event)">
          <mat-option *ngFor="let option of filteredBufferSpecies |async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="input-field" appearance="outline">
        <mat-label>Describe the buffer</mat-label>
        <input matInput class="chatin" type="text" placeholder="50mM Phosphate buffer, 0.1M Sodium Chloride pH 7.0"
          formControlName="userInput"
          [matTooltip]="buffer_species_names.join(', ')" matTooltipPosition="above">

        <div *ngIf="form.get('userInput').errors">
          <p class="instruct">Input needs a buffer species; See Quick Start above.</p>
        </div>
      </mat-form-field>

      <p class="green_flag" *ngIf="form.valid && form.dirty ==true"><span class="material-icons">
        check_circle
        </span>  Buffer species</p> 
  
      <!-- Cross icon for invalid state -->
      <p class="red_flag" *ngIf="form.invalid && form.dirty==true"><span class="material-icons">
        error
        </span>  Buffer species</p>
      <button class="wide-button" color="accent" mat-raised-button type="submit"
        [disabled]="!form.valid">Get Buffer Design</button>
    </form>

  </mat-card>
<mat-card class= "summary"> 
 

    <mat-card class="message-card" *ngIf="response_solution">
     <p class="red_flag" *ngIf="response_solution?.result_flag['flag'] == 'red'">  <span class="material-icons">
      error
      </span>
        {{ '  '+response_solution.result_flag['comment'] }}
      </p>
      <p class="green_flag" *ngIf="response_solution?.result_flag['flag'] == 'green'">  <span class="material-icons">
        check_circle
        </span>
        &nbsp; Done!
        </p>
    </mat-card>



</mat-card>

</mat-card>