@import '../../../shared-styles.scss';

.main-content-card {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "form-card"
  "solution-card";
 // background-color: whitesmoke;
  padding-top:10px;
  gap: 10px;
  margin-top:5px;
  margin-bottom: 10px;
  box-shadow: none;
  //align-items: center;
}
.instruct {
  font-size:small;
}
.red_flag {
  color:red;
  margin-left:20px;
}

.green_flag {
  color:rgb(18, 121, 7);
  margin:4px;
  margin-left:20px;
  padding:0px;
}

.form-card{
 //background-color:whitesmoke
  display:flex;
  width:96%;
  margin-left: 10px;
  box-shadow: none;
  border-color: $primary-color;
  border-width: 3px;

}
.formf {display:flex;flex-direction: column;
  //background-color:rgb(170, 15, 15);
}

.message-card{
box-shadow:none;
border: 1px solid $card-background-cream;
  padding: 0px;
  width: 97%;
  align-self: center;
}

.input-field {
  display:flex;
  width:98%;
  margin-top:6px;
 // margin-left:10px;
  align-self: center;
  
}

:host ::ng-deep .input-field .mdc-text-field--outlined {
 // border:3px solid rgb(195, 203, 197);
  //border-radius: 25px;
  --mdc-outlined-text-field-container-shape: 20px;
  --mdc-outlined-text-field-outline-width: 2px;
  --mdc-outlined-text-field-focus-outline-width: 4px;
}

.input-field-2 {
  display:none;
  width:98%;
  margin-top:6px;
 // margin-left:10px;
  align-self: center;
  
}

.wide-button{
  width:80%;
  margin-top:5px;
  margin-left:10px;
  margin-bottom: 10px;
  //background-color: $my-viva-magenta;
  align-self: center;

}

.summary {
  width: 97%;
  //background-color: whitesmoke;
  margin-left: 0.5vw;
  box-shadow: none;
 
}

.solution-card{
  display:none;
  margin-top:0px;
  position:relative;
 // background-color: rgb(160, 57, 57);
  width:98%;
  align-self: center;
  border-color: $primary-color;
  border-width: 3px;
}

.solution-card-placeholder {
  position:relative;
  background-color: rgb(248, 242, 247);
  width:98%;
  margin-left:5px;
  margin-bottom:5px;
}

mat-card img[mat-card-image] {
  max-width: 100%;
  height: auto;
}

.chatin {
  font-size: small;
}

.pH {
align-self: center;
padding-bottom:5px;

}
.avatar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background: #ba4069;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}


@media (max-width: 1500px) {
  .main-card-container {
    grid-template-columns: 1fr;
    /* stack vertically */
    grid-template-rows: auto 1fr;
    /* order with summary on bottom */
    grid-area: 1/1;
  }


  .summary {
    width: 97%;
   // background-color: whitesmoke;
    margin-left: 1vw;
   
  }

  .solution-card{
    margin-top:30px;
    position:relative;
    //background-color: whitesmoke;
    width:97%;
    align-self: center;
  }


}