
 <div class="hero-container">

 
  
 
    <!-- Text overlay container -->
      <!-- Title -->
      <h1 class="main-text">Revolutionize Your Research with the Best Designed Buffers</h1>
      
      <!-- Subtitle -->
      <h2 class="middle-text">Harness the precision and power of first-principles predictions</h2>
      <!-- <h2 class="end-text">Designed to help you experiment, learn, and optimize</h2>     -->
  
      <h2 class="end-text">Design using GenAI language input</h2>

      <!-- Call-to-Action Button -->
      <button mat-raised-button color="accent" class="action-button" (click)="navigateToTool()">Start Designing</button>
   
   
</div>