<mat-card class="main-hero-card">
<mat-card class="hero-container">
  <mat-card class="main-text one">
    <div class="mat-headline-3">
      Expedite Your Research with the Best Designed Buffers
    </div>
  </mat-card>
  <mat-card class="main-text two">
    <div class="mat-headline-4">
      Harness the precision and power of first-principles predictions
    </div>

  </mat-card>
  <mat-card class="main-text three">
    <div class="mat-headline-5">
      Leverage hundreds of buffer species combinations
    </div>

  </mat-card>
  <mat-card class="main-text four">
    <div class="mat-headline-5">Design using GenAI natural language input</div>

  </mat-card>
  <mat-card class="button-container">
    <button
      mat-raised-button
      color="primary"
      routerLink="/buffer-designer"
      class="action-button"
    >
     <p class="button-text">START DESIGNING</p> 
    </button>
  </mat-card>
</mat-card>
</mat-card>