<mat-card class="hero-container">
  <mat-card class="main-text">
    <div class="mat-headline-3">
      Expedite Your Research with the Best Designed Buffers
    </div>
  </mat-card>
  <mat-card class="main-text">
    <div class="mat-headline-4">
      Harness the precision and power of first-principles predictions
    </div>
  </mat-card>
  <mat-card class="main-text">
    <div class="mat-headline-5">
      Leverage hundreds of buffer species combinations
    </div>
  </mat-card>
  <mat-card class="main-text">
    <div class="mat-headline-5">Design using GenAI natural language input</div>
  </mat-card>
  <mat-card class="button-container">
    <button
      mat-raised-button
      color="accent"
      routerLink="/buffer-designer"
      class="action-button"
    >
      START DESIGNING
    </button>
  </mat-card>
</mat-card>
