@import "../../../buffer_colors.scss";

.hero-container {
  width: 100%;
  display: grid;
  grid-template-rows: 0.75fr 0.5fr 0.5fr 0.5fr 1fr;

  background-image: url("/assets/images/backom.png");
  background-size: cover;
  height: calc(100vh - 81px);
  justify-content: center;
  justify-self:center;
  align-items: center;
  align-self:center;
  text-align: center;
  @media (max-width: 450px) {
    height: calc(100vh - 56px);
  }

}

.hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mat-headline-5 {
  font-weight: 800 ;
  color: $dull-text-color;
  margin: 0px;
        @media (max-width: 450px) {
    font-size: medium;
}
}

.mat-headline-4 {
  color: $dull-text-color;
    font-size:x-large;
font-weight: 800 ;
  margin: 0px;
      @media (max-width: 450px) {
    font-size: medium;
}
}

.mat-headline-3 {
  color: $dull-text-color;
  font-size:xx-large;
  font-weight: 800 ;
  font-stretch: extra-expanded  ;
  margin: 0px;
    @media (max-width: 450px) {
    font-size: large;
  }
}
.main-text {
  background-color: transparent;
  align-self: center;
  justify-self: center;
  color: $dull-text-color;
  width: 80%;
}

.button-container {
  display: flex;
  width: 100%;

  //flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  //gap: 20px;
  background-color: transparent;
}

.action-button {
  font-weight: 800;
  font-stretch: extra-expanded;
  width: 40vw;
  height:15vw !important;
  align-self: center;

  //padding: 30px;
  font-size: x-large;
  //background-color: #4CAF50;
  color: whitesmoke;
  border-radius: 40px;
    transition: all 0.3s ease; // This will animate the color and transform changes

  &:hover {
    background-color: $accent-green; // Change to the hover color you want
    transform: scale(1.05); // This will slightly enlarge the button
  }
@media (max-width: 450px) {
  width: 70vw;
  height: 10vw !important;
  font-size: large;

}
}