.hero-container {
display:flex;
flex-direction: column;
background-image: url("/assets/images/backom.png");
background-size: cover;
height:90vh;
justify-content: center; 
align-items: center; 
text-align: center;

  }


  .hero-overlay {
     display: flex;
      flex-direction: column;
       justify-content: center; 
       align-items: center; 
       text-align: center;
       
  }

  .main-text{
    color: rgb(199, 190, 190);
     font-size: 50px; 
     margin-bottom: 8px;  
     margin-top: 0.3vh;

  }
  .middle-text{
    color: rgb(199, 190, 190);
    margin-top: 10px;
    margin-right: 50px; 
    margin-left: 50px;
    font-size: 30px; 
    margin-bottom: 16px;
  }

  .end-text {
    color: rgb(199, 190, 190);
    margin-top: 10px;
    margin-right: 50px; 
    margin-left: 50px;
    font-size: 25px; 
    margin-bottom: 80px;

  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color:transparent;
  }

  .action-button {
    width: 300px;
    height: 100px;
    padding: 10px 20px;
     font-size: xx-large; 
     //background-color: #4CAF50; 
     color: whitesmoke;

  }

  /* For tablets */
@media (max-width: 768px) {
    .hero-container {
        background-image: url("/assets/images/BackOM.png");
        background-size: cover;
        height:91vh;
        width:100%;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 480px) {
    .hero-container {
        background-image: url("/assets/images/BackOM.png");
        background-size: cover;
        width:100%;
       // height:100vh;
    }

    .main-text{
      color: rgb(199, 190, 190);
         font-size: 30px; 
         margin-bottom: 8px;  
         margin-top: 0.3vh;
    
      }
      .middle-text{
        color: rgb(199, 190, 190);
        margin-top: 30px;
        margin-right: 50px; 
        margin-left: 50px;
        font-size: 20px; 
        margin-bottom: 16px;
      }
    
      .end-text {
        color: rgb(199, 190, 190);
        margin-top: 30px;
        margin-right: 50px; 
        margin-left: 50px;
        font-size: 20px; 
        margin-bottom: 80px;
    
      }
    
      .action-button {
        width: 200px;
        height: 50px;
        padding: 10px 20px;
         font-size: large;
        
        // background-color: #4CAF50; 
        color: rgb(199, 190, 190);
    
      }
  }