.hero-container {
display:flex;
flex-direction: column;
background-image: url("/assets/images/desktopomsmall.jpg");
background-size: cover;
height:95vh;
justify-content: center; 
align-items: center; 
text-align: center;

  }


  .hero-overlay {
     display: flex;
      flex-direction: column;
       justify-content: center; 
       align-items: center; 
       text-align: center;

  }

  .main-text{
    color: whitesmoke;
     font-size: 60px; 
     margin-bottom: 8px;  
     margin-top: 0.3vh;

  }
  .middle-text{
    color: whitesmoke;
    margin-top: 100px;
    margin-right: 50px; 
    margin-left: 50px;
    font-size: 50px; 
    margin-bottom: 16px;
  }

  .end-text {
    color: whitesmoke;
    margin-top: 100px;
    margin-right: 50px; 
    margin-left: 50px;
    font-size: 50px; 
    margin-bottom: 80px;

  }

  .action-button {
    width: 300px;
    height: 100px;
    padding: 10px 20px;
     font-size: xx-large; 
     background-color: #4CAF50; 
     color: whitesmoke;

  }

  /* For tablets */
@media (max-width: 768px) {
    .hero-container {
        background-image: url("/assets/images/tabletomsmall.jpg");
        background-size: cover;
        height:95vh;
        width:100%;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 480px) {
    .hero-container {
        background-image: url("/assets/images/phoneomsmall.jpg");
        background-size: cover;
        width:87%;
        height:180vh;
    }

    .main-text{
        color: whitesmoke;
         font-size: 40px; 
         margin-bottom: 8px;  
         margin-top: 0.3vh;
    
      }
      .middle-text{
        color: whitesmoke;
        margin-top: 30px;
        margin-right: 50px; 
        margin-left: 50px;
        font-size: 20px; 
        margin-bottom: 16px;
      }
    
      .end-text {
        color: whitesmoke;
        margin-top: 30px;
        margin-right: 50px; 
        margin-left: 50px;
        font-size: 20px; 
        margin-bottom: 80px;
    
      }
    
      .action-button {
        width: 300px;
        height: 100px;
        padding: 10px 20px;
         font-size: xx-large; 
         background-color: #4CAF50; 
         color: whitesmoke;
    
      }
  }