@import "../../../shared-styles.scss";

.card-background {
  
  color: black;
  margin: 5px;
  box-shadow: none;
}

///////This is for the solutions scroll list///////////////
.grid-container {
  display: grid;
  background-color:rgb(217, 217, 219);
  grid-auto-flow: column;
  //margin: 5px;
  overflow-x: auto;
  overflow-y:hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  box-shadow:none;
  //border-width: 3px;
  //border-color: $border-color;
  gap: 5px;

  width:100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self:center;
  height: 90%;
  margin-top: 10px;
    margin-bottom: 10px;
    margin-left:5px;
  scroll-snap-align: start;
  background-color: whitesmoke;
  color: black;
  //margin: 3px;
  width: 30vw;

  //border: 1px solid $card-background-cream;
  @media (max-width: 450px) {
 width: 35vw;
  }
}
.solution_num {
  font-size: x-small;
  font-style: bold;

  margin: 10px;
  margin-top:3px;

  align-self: center;

  @media (max-width: 450px) {
    font-size: xx-small;
  }
}
.container {
  border:2px solid $divider-green;
  margin-bottom:3px;
}
.bottom-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  width: 100%;
}
.solution_summary {
  box-shadow: none;
  //background-color: rgb(19, 82, 4);
  //color:whitesmoke;
  align-self:center;
  margin: 3px;
  width:90%;
  border-width: 5px;
  border-color: $border-color;
  border-radius:25px;
  box-shadow: inset 0 0 10px #000000;
}
.heatmap {
  border:3px solid $divider-green;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom:30px;
  @media screen and (max-width: 450px) {
    width:100%;
  }
}

.heatmap_title {
  margin-top:20px;
 margin-left:40px;
 font-weight: bold;
}
.delete-button {
  color: rgb(183, 8, 8);
  border: none;
  border-radius: 5px;

  cursor: pointer;
  margin-top: auto;
  justify-self: right;
  //align-self:center;
}
.d_icon {
  font-size: 20px;
  @media screen and (max-width: 450px) {
    font-size: 18px;
  }
}

.solution_title {

  margin-top: 5px;
  margin-bottom: 0px;
  align-self: flex-end;
}

.red-text {
  color: red;
}
.multi{
  margin-left:15px;
  font-size: xx-small;
  text-align: center;
  //border:2px solid $accent-green;
  background-color: $secondary-color;
  color:white;
  border-radius: 20px;
  width:60px;
  align-content: middle;
}
///////This is for the solutions scroll list///////////////
.highlighted-card {
  border: 3px solid $accent-green; /* Change color as per your requirement */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.unhighlighted-card {
  border: $border-color;
  border-width:3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.less-space {
  margin-bottom: 1px;
  margin-top: 3px;
}


.pH {
  margin-bottom: 1px;
  margin-top: 3px;
  // padding-left:5px;
}
.thick {
  border-top-width: 2px;
  border-color: $headtext-color;
}
.thick-color {
  border-top-width: 2px;
  border-color: $divider-green;
}
.solution-compunds {
  display: grid;
  grid-template-columns: 1fr;
  background-color: transparent;
}

// .compound-card {
//   background: none;
//   padding: 4px;
//   margin-left: 5px;
//   margin-right: 5px;
//   margin-top: 1px;
//   margin-bottom: 1px;
//   box-shadow: none;
// }

.compound-sub {

  border: 1px solid $card-background-cream;
  box-shadow: none;
}

.compound-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15px;
}

mat-card-title {
  margin-left: 8px;
  font-size: medium;
}
.utext {
  color: black;
}

.ion-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 4px;
  background-color: transparent;
  box-shadow: none;
}
.ion-sub {
  //background-color: rgb(229, 237, 230);
  //margin: 5px;
  box-shadow: none;
}
.ion-name {
  font-size: small;
  font-style:italic;
 // margin: 5px;
  //margin-left: 10px;
}


.unique-ions {
  background-color: whitesmoke;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  padding-bottom: 10px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  box-shadow: none;
  gap:5px;
}


.unique-sub {
background-color: whitesmoke;
 //width:50%;
  //margin: 5px;
}

.scroll-title {
  font-size: small;

  margin: 10px;

    @media screen and (max-width: 800px)
  {
   font-size:small;
  }
  @media screen and (max-width: 450px)
  {
   font-size:x-small;
  }
}

.compound-name {
  font-size: small;
  font-weight: bold;

  padding: 0px;
}


@media (max-width: 450px) {

  .unique-sub {
    width: 45vw;
    border: 1px solid $card-background-cream;
  }

  .less-space {
    font-size: xx-small;
  }
  .compound-name {
    font-size: x-small;
  }
  .ion-name {
    font-size: xx-small;
    margin: 0px;
    margin-left: 3px;
  }

  .utext {
    font-size: xx-small;
    font-style: bold;
  }
  .uion-card-content {
    padding: 2px;
  }


  .grid-container {
    grid-auto-columns: auto;
  }



}



/////////////////COMPOUND CARDS/////////////////////
.compound-cards {
  align-self:center;
  display: grid;
  //grid-template-columns:1fr 1fr 1fr;
  grid-auto-flow: column;
  
//box-shadow:inset 0 0 15px black;
border:1px solid rgb(217, 217, 219);
 // background-color:rgb(217, 217, 219);
gap:2px;
padding:5px;
width:99%;
justify-content: space-evenly;
overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.compound-card {
background-color: whitesmoke;
width:31vw;
box-shadow:inset 0 0 5px rgb(172, 171, 171);
border:1px solid  rgb(217, 217, 219);
padding:5px;
@media (max-width: 450px) {
  width: 50vw;
}


}
.compound_name {
    font-size: x-small;
    font-weight: bold;
    margin: 0px;
    margin-left: 3px;
      box-sizing:border-box;
      width:100%;
    @media (max-width: 450px) {
      font-size: xx-small;
      font-weight: bold;
    }
}
.compound-mw {
  font-size: xx-small;
  //font-weight: bold;
  padding: 0px;
  margin:0px;
    box-sizing:border-box;
    width:100%;
}
.compound-concs {
  font-size: xx-small;
  //font-weight: bold;
  padding: 0px;
    margin:0px;
      box-sizing:border-box;
      width:100%;
}

.ions-info {
    font-size: xx-small;
  //font-weight: bold;
  padding: 0px;
    margin:0px;
      box-sizing:border-box;
      width:100%;
}

/////////////////ION CARDS/////////////////////

.ion-cards {
  align-self:center;
  //background-color: lightgreen;
  display: grid;
  grid-auto-flow: column;
box-shadow:none;
border:1px solid $card-background-cream;
  background-color:rgb(217, 217, 219);
//background-color:  #018786;
margin-top:5px;
margin-bottom:5px;
gap:2px;
padding:5px;
width:99%;
justify-content: space-evenly;
align-items: center;
overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.ion-card-instance {
background-color: whitesmoke;
width:31vw;
border:1px solid $card-background-cream;
align-self:center;
//margin-left:5px;
//margin-right:5px;
padding:3px;
//margin-top:1px;
//margin-bottom:1px;
//box-shadow:none;
@media (max-width: 450px) {
  width: 50vw;
}
}
//padding:5px;


.species-grid-container {
  display: grid;
  width:100%;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr;
  gap:1px;
  padding:0px;
  margin-top:2px;
  & > div {
    text-align: center;
  }
  & > div:nth-child(5n+1) {
    text-align: start;
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: 40px  1fr 1fr 1fr 1fr;
    
  }
}

.pka-grid-container {
  display: grid;
  width:100%;
  grid-template-columns: 50px 1fr 1fr 1fr;
  gap:1px;
  & > div {
    text-align: center;
  }
  & > div:nth-child(5n+1) {
    text-align: start;
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: 40px 1fr 1fr 1fr;
    
  }
}

.conc-grid-container {
  display: grid;
  width:100%;
  grid-template-columns: 50px 1fr ;
  margin-top:2px;
  & > div {
    text-align: center;
  }
  & > div:nth-child(5n+1) {
    text-align: start;
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: 30px 1fr;
    
  }
}
.ion-card-content {
  padding:5px;
}



.ion_names-title {
    font-size: x-small;
    font-weight: bold;
    margin: 0px;
    margin-left: 3px;
  }
.pka-names {
    font-size: xx-small;
    margin: 0px;
    width:100%;
    //margin-left: 3px;
  }

.pka-names, .ion-names {
  font-size:xx-small;
 border: 1px solid rgb(224, 222, 222);
  //padding: 5px;
  box-sizing:border-box;
}

.pka-names-label, .ion-names-label {
  font-size: xx-small;
  //font-weight: bold;
  padding: 0px;
  margin:0px;
}





.grid-table {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 2px;
  align-items: center;
}

.header {
  font-size:x-small;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 8px;
  text-align: center;
}

.cell {
  font-size: x-small;
  padding: 8px;
  //border: 1px solid #ddd;
  text-align: center;
  //background-color: green;
}
.line_grid {

  border: 1px solid #ddd;
}

// .compound_name {
//  grid-column: span 2; /* Compound name spans across two rows */
//  grid-row: 1 / span 2; 
//  //height:65px;
// }


.conc_molar {
  grid-column: 2; /* Concentration spans across the sixth column */
//grid-row: span 2; 
//height:65px;
text-align: center;

}


.ion_name {
  //grid-column: 3; /* Ion name spans across the first four columns */
  //height:25px;
}
.cell2 {
  font-size:x-small;
  padding:1px;
}

.ion-info {

  grid-column: 2; /* Each ion spans across two columns (ions and ion concentrations) */
 
 display:grid;
  grid-template-columns: auto auto;
  //height:25px;
}

.uion_name {
  grid-column: 1; /* Ion name spans across the first four columns */
  //height:100px;
}

.uion_total_conc {
  grid-column: 2; /* Each ion spans across two columns (ions and ion concentrations) */
  height:25px;
}

.uion_pka {
  grid-column: 3; /* Each ion spans across two columns (ions and ion concentrations) */
  //height:25px;
}

.uion-card {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: yellowgreen;
}
.uion_charge {
  grid-column: 3; /* Each ion spans across two columns (ions and ion concentrations) */
  height:25px;
}
.uion_conc {
  grid-column: 4; /* Each ion spans across two columns (ions and ion concentrations) */
  height:25px;
}

.grid-table2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2px;
  align-items: center;
}
.grid-table3 {
  display: grid;
  grid-template-rows:auto;
  grid-gap: 2px;
  align-items: center;
}