.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  gap: 13px;
  background-color: var(--primary-background-color);
  .card-background {
    width: 100%;

    box-shadow: inset 0 0 4px 2px var(--gray-inset-shadow-color);

    background-color: var(--primary-background-color);
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .grid-container {
      display: grid;
      background-color: var(--primary-background-color);
      grid-auto-flow: column;

      overflow-x: scroll;
      overflow-y: hidden;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      box-shadow: 3px;
      gap: 5px;
      padding: 10px;
      width: 100%;
      //z-index: 3;

      @media (max-width: 450px) {
      }

      .highlighted-card {
        border: 3px solid var(--yellow-border-color); /* Change color as per your requirement */
        box-shadow: 2px 6px 8px 0 var(--black-box-shadow-color);
        border-radius: 20px;
      }
      .unhighlighted-card {
        border: 3px solid var (--gray-border-color); /* Change color as per your requirement */
        border-width: 3px;
        //box-shadow: 0 4px 8px 0 var(--black-box-shadow-color);
      }

      .grid-item {
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        //z-index: 0;
        scroll-snap-align: start;
        width: 250px;
        padding: 10px;
        background-color: var(--darkest-background-color);
        //border: 2px solid var(--gray-border-color);
        border-radius: 20px;
        box-shadow: 5px;
        @media (max-width: 450px) {
          width: 200px;
        }

        .scroll-title {
          font-size: large;
          font-weight: bold;
          text-align: center;
          //font-style: italic;
          .red-text {
            color: var(--red-error-color);
          }
          @media screen and (max-width: 800px) {
            font-size: medium;
          }
          @media screen and (max-width: 450px) {
            font-size: medium;
          }
        }
        .bottom-line {
          display: grid;
          grid-template-columns: 3fr 1fr;
          justify-content: right;
          align-items: center;
          width: 100%;
          .multi {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--primary-text-color);
            font-size: medium;
            text-align: center;
            background-color: var(--primary-background-color);
            border-radius: 20px;
            height: 1.5em;
            @media (max-width: 450px) {
              font-size: small;
            }
            .delete-button {
              border: none;
              border-radius: 5px;

              cursor: pointer;
              margin-top: auto;
              justify-self: right;
              .d_icon {
                font-size: 20px;

                @media screen and (max-width: 450px) {
                  font-size: small;
                }
              }
            }
          }
        }
      }
    }
  }
}

.solution_summary {
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-width: 5px;
  border-color: var(--teal-background-color);
  border-radius: 25px;
 background-color: var(--darkest-background-color);
  //box-shadow: inset 0px 0px 3px 2px var(--gray-inset-shadow-color);
  @media (max-width: 450px) {
    width: 95%;
  }
  .solution_title {
    display: flex;
    font-size: large;
    color: var(--primary-text-color);
    //margin-top: 5px;
    //margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--gray-border-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:var(--teal-background-color);
    width: 100%;
    box-sizing: border-box;
  }
  .solution-content {
    display:flex;
    padding-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    gap: 10px;
    //width:60%;
    background-color: var(--darkest-background-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    @media (max-width: 450px) {
      //width: 95%;
    }
  }
  .compound-summary-grid {
    color: var(--primary-text-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3px 20px;
       background-color: transparent;
    @media (max-width: 450px) {
      //grid-template-columns: auto 1fr;
      gap: 3px 5px;
    }
    .summary-grid-label {
      display: flex;
      border-radius: 5px;

      box-shadow: inset 0px 0px 1px 0.5px var(--inset-shadow-color-grey);
      background-color: var(--gray-background-color);
      //font-weight: bold;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;

      @media (max-width: 450px) {
        font-size: medium;
        padding-left: 8px;
      }
    }
    .summary-grid-value {
      border-radius: 5px;
      box-shadow: inset 0px 0px 1px 0.5px var(--inset-shadow-color-grey);
      background-color: var(--primary-background-color);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .compound-summary-grid-pH {
    color: var(--primary-text-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px 5px;

    @media (max-width: 450px) {
      //grid-template-columns: auto 1fr;
      gap: 3px 5px;
    }
    .summary-grid-label {
      display: flex;
      border-radius: 5px;
      background-color: var(--gray-background-color);
      box-shadow: inset 0px 0px 1px 0.5px var(--gray-inset-shadow-color);
      //font-weight: bold;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;

      @media (max-width: 450px) {
        font-size: medium;
        padding-left: 8px;
      }
      &.pH-label {
        justify-content: flex-end;
        font-weight: bold;
        text-align: right;
        background-color: transparent;
        box-shadow: none;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        .pH_label_only {
          border-radius: 10px;
          text-align: center;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: var(--teal-background-color);
          box-shadow:  0px 0px 3px .5px black;
          width: 80px;
        }
      }
    }
    .summary-grid-value {
      border-radius: 5px;
      background-color: var(--gray-background-color);
      box-shadow: inset 0px 0px 1px 0.5px var(--gray-inset-shadow-color);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      &.pH-value {
        justify-content: flex-start;

        font-weight: bold;
        background-color: transparent;
        box-shadow: none;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        .pH_value_only {
          text-align: center;
          border-radius: 10px;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: var(--teal-background-color);
          box-shadow:  0px 0px 3px .5px black;
          width: 80px;
        }
      }
    }
  }
}

/////////////////COMPOUND CARDS/////////////////////
///
.compound-card-background {
  width: 100%;
  background-color: var(--primary-background-color);
  box-shadow: inset 0 0 4px 2px var(--gray-inset-shadow-color);

  align-self: center;
  //margin: 3px;
  padding: 6px;

  .compound-cards {
    background-color: var(--primary-background-color);
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding: 15px;
    width: 100%;
    justify-content: space-evenly;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    @media (max-width: 450px) {
    }

    .compound-card {
      background-color: var(--darkest-background-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25vw;
      align-self: center;
      justify-self: center;
      border-color: var(--pink-background-color);
      border-width: 5px;
      border-radius: 20px;
      padding: 10px;

      @media (max-width: 1500px) {
        width: 320px;
      }
      @media (max-width: 450px) {
        width: 300px;
      }
      @media (max-width: 300px) {
        width: 250px;
      }

      .compound_name {
        font-size: large;
        font-weight: bold;
        margin: 0px;
        margin-left: 3px;
        height: 60px;
        @media (max-width: 450px) {
          font-size: large;
          height: 50px;
        }
      }
      .ion-card-content {
        display: flex;
        flex-direction: column;
        padding-top:8px;
        @media (max-width: 450px) {
          padding-left: 8px;
          padding-right: 8px;
        }
        .compound-grid {
          color: var(--primary-text-color);
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 3px 20px;
          .grid-label {
            //box-shadow: inset 0px 0px 1px 0.5px var(--gray-border-color);
            border-radius: 5px;
            //background-color: var(--gray-background-color);
            font-size: medium;
            text-align: right;

            @media (max-width: 450px) {
              font-size: medium;
            }
          }
          .grid-value {
            box-shadow: inset 0px 0px 1px 0.5px var(--inset-shadow-color-grey);
            background-color: var(--primary-background-color);
            border-radius: 5px;
            font-size: medium;
            text-align: left;
            padding-left: 8px;
            padding-right: 5px;
            @media (max-width: 450px) {
              font-size: medium;
            }
          }
        }
      }
    }
  }
}

/////////////////ION CARDS/////////////////////
.ion-card-background {
  width: 100%;
  background-color: var(--primary-background-color);
  box-shadow: inset 0 0 4px 2px var(--gray-inset-shadow-color);

  align-self: center;
  //margin: 3px;
  padding: 6px;
  .ion-cards {
    background-color: var(--primary-background-color);
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    padding: 15px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    @media (max-width: 450px) {
      // height: 20vh;
    }
    .ion-card-instance {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: center;
      justify-self: center;
      
      //scroll-snap-align: start;
      width: 30vw;
      border-width: 4px;
      border-radius: 20px;
      background-color:var(--darkest-background-color);
      border-color: var(--blue-background-color);
      padding: 10px;


      @media (max-width: 1500px) {
        width: 360px;
      }
      @media (max-width: 450px) {
        width: 320px;
      }
      @media (max-width: 300px) {
        width: 280px;
      }
      .ion_names-title {
        font-size: large;
        font-weight: bold;
        margin: 0px;
        margin-left: 3px;
        @media (max-width: 450px) {
          font-size: medium;
        }
      }
      .ion-card-content {
        padding: 5px;

        .pka-grid-container {
          display: grid;
          width: 100%;
          grid-template-columns: 70px 1fr 1fr 1fr;
          gap: 1px;
          & > div {
            text-align: center;
          }
          & > div:nth-child(5n + 1) {
            text-align: start;
          }

          @media screen and (max-width: 450px) {
            grid-template-columns: 50px 1fr 1fr 1fr;
          }
          .pka-names-label {
            color: var(--primary-text-color);
            font-size: medium;
            //font-weight: bold;
            padding: 0px;
            margin: 0px;
            @media (max-width: 450px) {
              font-size: medium;
            }
          }
          .pka-names {
            margin: 0px;
            width: 100%;
            color: var(--primary-text-color);
            font-size: medium;
            border-radius: 5px;
            box-shadow: inset 0px 0px 1px 0.5px var(--inset-shadow-color-grey);
            background-color: var(--primary-background-color);
            box-sizing: border-box;
            @media (max-width: 450px) {
              font-size: medium;
            }
          }
        }

        .species-grid-container {
          display: grid;
          width: 100%;
          grid-template-columns: 70px 1fr 1fr 1fr 1fr;
          gap: 1px;
          padding: 0px;
          margin-top: 1px;
          & > div {
            text-align: center;
          }
          & > div:nth-child(5n + 1) {
            text-align: start;
          }

          @media screen and (max-width: 450px) {
            grid-template-columns: 50px 1fr 1fr 1fr 1fr;
          }

          .ion-names-label {
            color: var(--primary-text-color);
            font-size: medium;
            //font-weight: bold;
            padding: 0px;
            margin: 0px;
            @media (max-width: 450px) {
              font-size: medium;
            }
          }

          .ion-names {
            color: var(--primary-text-color);
            font-size: medium;
            border-radius: 5px;
            box-shadow: inset 0px 0px 1px 0.5px var(--inset-shadow-color-grey);
            background-color: var(--primary-background-color);
            box-sizing: border-box;
            @media (max-width: 450px) {
              font-size:medium;
            }
          }
        }
        .conc-grid-container {
          display: grid;
          width: 100%;
          grid-template-columns: 70px 1fr;
          margin-top: 1px;
          & > div {
            text-align: center;
          }
          & > div:nth-child(5n + 1) {
            text-align: start;
          }

          @media screen and (max-width: 450px) {
            grid-template-columns: 50px 1fr;
          }
          .conc-names-label {
            color: var(--primary-text-color);
            font-size: medium;
            //font-weight: bold;
            padding: 0px;
            margin: 0px;
            @media (max-width: 450px) {
              font-size: medium;
            }
          }
          .conc-names {
            margin: 0px;
            width: 100%;
            color: var(--primary-text-color);
            font-size: medium;
            border-radius: 5px;
            box-shadow: inset 0px 0px 1px 0.5px var(--inset-shadow-color-grey);
            background-color: var(--primary-background-color);
            box-sizing: border-box;
            @media (max-width: 450px) {
              font-size: medium;
            }
          }
        }
      }
    }
  }
}

//padding:5px;

.heatmap-background {
  width: 100%;

  background-color: var(--primary-background-color);
  box-shadow: inset 0 0 4px 2px var(--gray-inset-shadow-color);

  align-self: center;
  //margin: 3px;
  padding: 6px;

  .heatmap {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 13px;
  background-color: var(--darkest-background-color);
    @media screen and (max-width: 450px) {
    }
  }

  .heatmap_title {
    color: var(--primary-text-color);
    font-size: large;
    padding-top: 10px;
    font-weight: bold;
    @media screen and (max-width: 450px) {
      font-size: medium;
    }
  }
  .disclaimer {
    font-size:12px;
    text-align:center;
  }
}
