@import '../../../shared-styles.scss';

.card-background {
  background-color: whitesmoke;
  color:black;
  margin: 5px;
}

///////This is for the solutions scroll list///////////////
.grid-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  margin: 10px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  background-color: whitesmoke;
  box-shadow:none;
  //background-color: rgb(241, 245, 245);
}

.grid-item {
  //gap:20px;
  min-width: 160px;
  margin: 10px;
  scroll-snap-align: start;
  //background-color: $card-background;
  color: black;

  //background-color: rgb(184, 178, 178);
}

///////This is for the solutions scroll list///////////////
.highlighted-card {
  border: 3px solid $accent-green; /* Change color as per your requirement */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.less-space{
  margin-bottom:1px;
}
.thick {
  border-top-width: 5px;
  border-color: $headtext-color;

}
.thick-color {
  border-top-width: 2px;
  border-color: $divider-green;
}
.solution-compunds {
  display: grid;
  grid-template-columns: 1fr;
  background-color: whitesmoke;
}

.compound-card {
  background-color: transparent;
  padding: 8px;
  margin: 5px;
  box-shadow: none;
}

.compound-sub {
  background-color: whitesmoke;
  box-shadow: none;
}

.compound-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15px;

}



mat-card-title {
  margin-left: 8px;
  font-size: medium;
 
}
.utext {
  color:black;
}

.ion-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 8px;
  background-color: transparent;
  box-shadow: none;
}
.ion-sub {
  //background-color: $card-background;

  margin: 5px;
  //border-color: rgb(5, 13, 91);
  //border-width: .1px;
  // margin-bottom:0px;
}
.unique-ions {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  padding: 8px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  box-shadow: none;
}

.unique-sub {
 // box-shadow: inset;
  //background-color: $card-background;
  margin: 5px;
}

/* .mat-headline-5 {
  margin-top: .2em;
  text-align: center;
  font-weight: 600;
}


mat-icon {
  font-size: 24px;
}

.highlighted-card {
  border: 2px solid #ff2a00;
 
} 
*/