@import '../../shared-styles.scss';
.main-card-container {
     display: grid;
     //margin-top: 15px;
     grid-template-rows: 1fr .7fr;
     grid-template-areas:
     "calculator" 
     "summary";
  
     gap: 5px; /* gap between */
     padding:5px;
     background-color: whitesmoke;
    grid-area:1/1;
    box-shadow: none;
    align-items: center;
    }

    .calculator {
      display:grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows:1fr;
     grid-template-areas:
     "col1" "col2";
  
      width:97%;
      background-color: whitesmoke;
      margin-left:0.5vw;
      //gap:1em;
      padding: 5px;
      align-items:center;
      justify-items: center;
      box-shadow: none;
    }

  .option1-full-width_Left {
    width:90%;
    //height:100%;
    margin-bottom:8px;
    //display: flex;

  }

  .option1-full-width_Right{
    width:100%;
    //height:100%;
    margin-bottom:8px;
    //display: flex;
  }
  .summary{
    width: 97%;
    background-color: whitesmoke;
    margin-left: 0.5vw;
    box-shadow: none;
  }


  .wide-button {
    grid-column: span 2;
    width: 90%;
    margin-left: 5vw;
    //background-color: $background-green;
  }

.col1 {
  justify-self: center;
}
  

.solution-card {
  margin-top:5px;
  //position: relative;
  //background-color: rgb(116, 11, 11);
  width:97%;
  align-self:center;
}

.example-card-holder {
  position:relative;
  background-color: rgb(248, 242, 247);
  width:98%;
  margin-left:5px;
  margin-bottom:5px;
}


 


.pH {
  align-self: center;
  margin-bottom: 2px;

}
.avatar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background: #ba4069;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

@media (max-width: 1500px) {
  .main-card-container {
    grid-template-columns: 1fr;
    /* stack vertically */
    grid-template-rows: auto 1fr;
    /* order with summary on bottom */
    grid-area: 1/1;
  }
  
  .calculator {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr;
   grid-template-areas:
   "col1" "col2";

    width:97%;
    background-color: whitesmoke;
    margin-left:0.5vw;
    //gap:1em;
    padding: 5px;
    align-items:center;
    justify-items: stretch;
  }

}






@media (max-width: 800px) {
  .main-card-container {
    grid-template-columns: 1fr;
    /* stack vertically */
    grid-template-rows: auto 1fr;
    /* order with summary on bottom */
    grid-area: 1/1;
  }
  .calculator {
    display: flex;
    //grid-template-columns: 1fr;
    //grid-template-rows: 1fr 1fr;
   // grid-template-areas:
   //   "col1" 
    //  "col2";
    align-items:center;
    width: 97%;
    //background-color: rgb(183, 16, 16);
    margin-left: 1vw;
    //gap:1em;
    padding: 10px;
    align-self: center;
    //align-items: center;
   // justify-items: stretch;
  }

  .option1-full-width_Left {
    width: 100%;
    //height:100%;
    margin-bottom: 8px;
    //display: flex;
  
  }
  
  .option1-full-width_Right {
    width: 100%;
    //height:100%;
    margin-bottom: 8px;
    //display: flex;
  
  }

  .summary {
    width: 97%;
    background-color: whitesmoke;
    margin-left: 1vw;
   
  }



}