<mat-card class="nav-card">

    <mat-card-content class="nav-content">

        <mat-nav-list>
  
            <a mat-list-item color="accent" class="men_button" routerLink="/NLP-Input" routerLinkActive="active-link">GenAI Designer</a>
            <a mat-list-item color="accent" class="men_button" routerLink="/Drop-Down-Input" routerLinkActive="active-link">Classic Designer</a>
            <a mat-list-item  color="accent" class="men_button" routerLink="/pH-Calculator" routerLinkActive="active-link">pH Calculator</a>
          
      
          </mat-nav-list>

    </mat-card-content>
</mat-card>

<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <a mat-list-item  class="men_button" routerLink="/NLP-Input" routerLinkActive="active-link">GenAI Buffer Designer</a>
        <a mat-list-item  class="men_button" routerLink="/Drop-Down-Input" routerLinkActive="active-link">Classic Buffer Designer</a>
        <a mat-list-item  class="men_button" routerLink="/pH-Calculator" routerLinkActive="active-link">pH Calculator</a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> -->