@import '../../shared-styles.scss';
.main {
display:flex;
}

//////////////////////////////////TWO PAGE LAYOUT////////////////////////////////////////////////////////////
.content {
    grid-area: content;
    padding-top: 0.3vh;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    gap: .5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "calculator" "summary";
    grid-template-rows: 90vh;
  
    background-color: $border-color;
  }

  .calculator {
    overflow-y: auto;
    //max-height: 90vh;
    //background-color: rgb(9, 119, 121);
    padding: 5px;  
   }


  .intro {
    //width:100%;
  }

  .mat-headline-5 {
    text-align: center;
    font-weight: 600;
    margin-top:5px;
    margin-bottom: 2px;
    color: $headtext-color;
    background-color: $primary-color;
    padding:5px;
  }

  .intro-text-main {
    padding:2px;
    margin:2px;
    background-color: whitesmoke;
    box-shadow: inset;
  }
  
  .intro-text {
   // font-size: large;
background-color: transparent;
box-shadow: none;
//margin:10px;
  }
  
  .small-title {
      font-size: large;
      padding:0px;
    }
    
  .small-content {
      padding:0 8px;
      padding:8px 8px;
      text-align:justify;
      font-size: medium;
    }
  mat-card {
    box-shadow: none;
  }

  
  .small-title {
    //font-size: auto;
    padding:0px;
  }
  
  .intro-text {
    //font-size: auto;
    padding: 8px 10px;
  }

  a {
    font-size:larger;
    font-weight: 900;
    
  }

  .thick {
    border-width: 5px;
  }
  
  .navigate {
   // background-color: rgb(12, 206, 38);
   // height:100%;
  }
  
  .example-stretched-tabs {
    width: 98%;
    margin: 5px;
  }

  .summary {
    // min-width: 400px;
     overflow-y: auto;
     //max-height: 90vh;
     gap: 10px;
     //background-color:red;
   }
   
 
  
  .h4new {
    padding-top:0px;
    padding-bottom:10px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    //margin-top:20px;
    margin-bottom: 5px;
    color: $headtext-color;
    //background-color: $primary-color;
  }
  
  
  @media (max-width: 1500px) {
    .content {
   
      grid-area: content;
      padding-top: 0.5vh;
      padding-left: 0.5vw;
      padding-right: .5vw;
      padding-bottom:0.5vh;
      gap: .5vh;
      gap: .5vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:max-content;
      grid-template-areas:
        "calculator"
        "summary";
  
    }
  
    .calculator {
      max-height: max-content;
    }
    .summary {
      max-height: max-content;
    }
  
   /*  .calculator {
      display:grid;
      grid-template-rows: auto;
      grid-template-areas: 
      "intro"
      "navigate"
      ;
      overflow-y: auto;
     // max-height: 90vh;
      padding: 10px;
      //max-height: 100vh;
      background-color: aqua;
  
    } */
  }
    @media (max-width:400px) {
      .example-stretched-tabs {
        margin: 5px;
        font-size: small;
        width:100%;
      }
  
    .navigate {
      width:95%;
     // background-color: mat-color($teall-palette,500)
    }

    .small-title {
      font-size: normal;
      padding:0px;
    }
    
    .intro-text {
      font-size: small;
      text-align:left;
      //padding: 10px 10px;
    }
    
    .small-content {
     // padding:0 8px;
      //color:rgb(43, 47, 50);
      //margin:3px;
    }
  
  }



  
  /* @media (max-width: 1800px) {
    .content {
      grid-area: content;
      padding-top: 0.5vh;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      gap: .5vh;
      display: grid;
    
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
      grid-template-areas:
        "calculator"
        "summary";
  
    }
    .summary {
      max-height: max-content;
    }
  } */