@import '../../shared-styles.scss';
.main {
display:flex;
}

.content {
    grid-area: content;
    padding-top: 0.3vh;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    gap: .5vh;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-areas:
      "calculator" "summary";
    grid-template-rows: 1fr;
  
    background-color: $border-color;
  }
  
  
.intro-text-main {
    //padding: 40px;
    background-color: whitesmoke;
    
    }
    
  .small-title {
      font-size: large;
      padding:0px;
    }
    
  .intro-text {
      font-size: large;
     // padding: 10px;
    }
    
  .small-content {
      padding:0 8px;
      //margin:3px;
    }
  
  .calculator {
   // display:grid;
    overflow-y: auto;
   max-height: 85vh;
   //grid-template-columns: 1fr;
    //grid-template-rows: auto;
  
   // grid-template-areas: 
  //  "intro"
   // "navigate"
  //  ;
  
     //background-color: mat.get-color-from-palette(mat.$orange-palette,900);
    background-color: whitesmoke;
  
  
    padding: 5px;  
  
  }
  
  
  mat-card {
    box-shadow: none;
  }
  
  
  .mat-headline-5 {
   // margin-top: .2em;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2px;
    color: $headtext-color;
    background-color: $primary-color;
  
  padding:10px;
  }
  .intro {
    //margin: 10px;
    width:99.5%;
    //padding-right: 40px;
    background-color: whitesmoke;
    text-align: justify;
    align-self:center;
  }
  
  
  .intro-text-main {
  //padding: 40px;
  background-color: whitesmoke;
  
  
  }
  
  .small-title {
    //font-size: auto;
    padding:0px;
  }
  
  .intro-text {
    //font-size: auto;
    padding: 16px 20px;
  }
  
  .small-content {
    padding:0 8px;
    color:slategray;
    //margin:3px;
  }
  .list-container {
    padding-right: 40px;

  }
  
  a {
    font-size:larger;
    font-weight: 900;
    
  }
  
  .navigate {
    background-color: whitesmoke;
    height:100%;
  }
  
  .example-stretched-tabs {
    width: 95%;
    margin: 5px;
 
    //background-color: 'accent';
    // color:aqua;
  }
  
  
  
  .h4new {
    padding-top:15px;
    padding-bottom:10px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    //margin-top:20px;
    margin-bottom: 5px;
    color: $headtext-color;
    background-color: $primary-color;
  }
  
  .thick {
    border-width: 5px;
  }
  
  .summary {
   // min-width: 400px;
    overflow-y: auto;
    max-height: 85vh;
    gap: 10px;
    background-color: whitesmoke;
  }
  
  .browser {
    background-color: whitesmoke;
    padding: 2px;
    gap: 10px;
  }
  
  @media (max-width: 1500px) {
    .content {
   
      grid-area: content;
      padding-top: 0.5vh;
      padding-left: 0.5vw;
      padding-right: .5vw;
      padding-bottom:0.5vh;
      gap: .5vh;
      gap: .5vh;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:max-content;
      grid-template-areas:
        "calculator"
        "summary";
  
    }
  
    .calculator {
      max-height: max-content;
    }
    .summary {
      max-height: max-content;
    }
  
   /*  .calculator {
      display:grid;
      grid-template-rows: auto;
      grid-template-areas: 
      "intro"
      "navigate"
      ;
      overflow-y: auto;
     // max-height: 90vh;
      padding: 10px;
      //max-height: 100vh;
      background-color: aqua;
  
    } */
  
    @media (max-width:800px) {
      .example-stretched-tabs {
        margin: 5px;
        font-size: x-small;
        width:95%;
      }

    }

  
    .intro {
      width:95%;
    }
    .navigate {
      width:95%;
     // background-color: mat-color($teall-palette,500)
    }

    .small-title {
      font-size: small;
      padding:0px;
    }
    
    .intro-text {
      font-size: small;
      padding: 10px 10px;
    }
    
    .small-content {
      padding:0 8px;
      color:slategray;
      //margin:3px;
    }
  
  }



  
  /* @media (max-width: 1800px) {
    .content {
      grid-area: content;
      padding-top: 0.5vh;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      gap: .5vh;
      display: grid;
    
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
      grid-template-areas:
        "calculator"
        "summary";
  
    }
    .summary {
      max-height: max-content;
    }
  } */