
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- <mat-card class="header-card">
  <mat-card-title>
    <H1 class="mat-headline-4" > EXPERT BUFFER DESIGOMR</H1> 
  </mat-card-title>
</mat-card> -->


<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="navigationMenu">
      <mat-icon>menu</mat-icon>  <!-- This icon is typical for menus, but you can change it. -->
    </button>
    <h1>omExpert</h1>
    <span class="menu-spacer"></span>
    <div class="toolbar-items">
      <a mat-button  class="men_button" routerLink="/home" routerLinkActive="active-link">Home</a>
      <a mat-button  class="men_button" routerLink="/buffer-designer" routerLinkActive="active-link">Buffer Designer</a>
      <a mat-button  class="men_button" routerLink="/about-us" routerLinkActive="active-link">About Us</a>
      <a mat-button  class="men_button" routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
      <a mat-button  class="men_button" routerLink="/feedback" routerLinkActive="active-link">Feedback</a>
      <a mat-button  class="men_button" routerLink="/user-guide" routerLinkActive="active-link">User Guide</a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-menu #navigationMenu="matMenu">
  <a mat-menu-item routerLink="/home">Home</a>
  <a mat-menu-item routerLink="/buffer-designer">Buffer Designer</a>
  <a mat-menu-item routerLink="/about-us">About us</a>
  <a mat-menu-item routerLink="/contact-us">Contact us</a>
  <a mat-menu-item routerLink="/feedback">Feedback</a>
  <a mat-menu-item routerLink="/user-guide">User guide</a>
  </mat-menu>






<!-- <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="First" routerLink="/NLP-Input" routerLinkActive #firstTab="routerLinkActive">
      <ng-template matTabContent>
        <app-chatbufferom *ngIf="firstTab.isActive"></app-chatbufferom>
      </ng-template>
    </mat-tab>
    <mat-tab label="Second" routerLink="/Drop-Down-Input" routerLinkActive #secondTab="routerLinkActive">
      <ng-template matTabContent>
        <app-buffer-calculation-option2 *ngIf="secondTab.isActive"></app-buffer-calculation-option2>
      </ng-template>
    </mat-tab>
    <mat-tab label="Third" routerLink="/pH-Calculator" routerLinkActive #thirdTab="routerLinkActive">
      <ng-template matTabContent>
        <app-buffer-calculation-option2 *ngIf="thirdTab.isActive"></app-buffer-calculation-option2>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->