// @use '@angular/material' as mat;



.header-card {
  align-self:center;
  width: 100%;
  box-shadow: none;
//  margin:3px;
//  margin-right:5px;
 
}

.header-toolbar {
  
  
}

.men_button1 {
  font-size: x-large;
   @media (max-width: 450px) {
    display:none;
  }
}
.men_button2 {
  font-size: x-large;
      @media (max-width: 450px) {
    //display:none;
  }
}

.toolbar-items {
  //display: none;
    @media (max-width: 450px) {
    //display:none;
  }
}
.toolbar-row {
 // background-color: var(--teal-background-color);
  //border-radius:8px;
  margin-bottom:3px;

  @media (max-width: 450px) {
    padding:2px;
  }
}
.linkedin-icon {
  
  color: #0e8dc8;
  font-size: 1em;
      @media (max-width: 450px) {
    font-size: 0.75em;
    //display:none;
}
}
.linkedin-icon:hover {
  color: #0077b5;
}
.whatsapp-icon {
  color: #25D366;
    font-size: 1em;
    @media (max-width: 450px) {
    font-size: 0.75em;
}
}

.whatsapp-icon:hover {
  color: #128C7E;
}
.mat-headline-4 {
  
  margin-bottom: 2px;
  margin-left: 10px;
  font-weight: 800;
  font-stretch: expanded;
  font-size: xx-large;

  white-space: nowrap;

  @media (max-width: 850px) {
    font-size: large;
  }
  @media (max-width: 600px) {
      font-size: medium;
  }
}

