// @use '@angular/material' as mat;
 @import '../../../shared-styles.scss';


.header-card {
  width: 100%;
  box-shadow: none;
}

.men_button {
  font-size: x-large;
}

.toolbar-items {
  display: none;
}
.toolbar-row {
  
}
.mat-headline-4 {
  
  margin-bottom: 2px;
  margin-left: 10px;
  font-weight: 800;
  font-stretch: expanded;
  font-size: xx-large;
  //color: $card-background-cream;
  white-space: nowrap;

  @media (max-width: 650px) {
    font-size: large;
  }
  @media (max-width: 400px) {
      font-size: x-small;
  }
}