@import "src/shared-styles.scss";

.omplot {
    width:500px;
}

.bar-chart {
    //width:500px;
    background-color: $card-background-cream;
    //min-width: 500px;
}   
.bar-chart-container {
    display: grid;
    grid-auto-flow: row; // This will make the grid items flow horizontally
    grid-gap: 10px; // This will add a gap between the grid items
    overflow-x: auto; // This will add a horizontal scrollbar when necessary
    background-color: $card-background;;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
   width:1000px;
}