<mat-card *ngIf="solutionMixture">
 

  <mat-card>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Interactive Plot</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-content>
          <p> This is interactive plot</p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Static Plots</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-content>
          <p> This is static plot</p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-card>




      <mat-card>
        <mat-card-content>
          <mat-card>
            <mat-chip-listbox multiple>
              <mat-chip-option
                *ngFor="let phase of phaseOptions"
                [value]="phase.id"
                [selected]="selectedPhases.includes(phase.id)"
                (selectionChange)="onChangePhase($event)"
              >
                {{ phase.name }}
              </mat-chip-option>
            </mat-chip-listbox>
          </mat-card>

          <mat-card>
            <mat-chip-listbox *ngIf="phaseOptions">
              <mat-chip-option
                *ngFor="let selcategory of categories"
                [value]="selcategory"
                [selected]="category === selcategory"
                [disabled]="selectedPhases.length == 0"
                (selectionChange)="
                  onChangeCategory($event); (deselectAllCompounds); (deselectAllIons)
                "
              >
                {{ selcategory }}
              </mat-chip-option>
            </mat-chip-listbox>
          </mat-card>

          <mat-card>
            <mat-chip-listbox *ngIf="compound_names" multiple>
              <mat-chip-option
                *ngFor="let compound of compoundOptions"
                [value]="compound.id"
                [selected]="selectedCompounds.includes(compound.id)"
                [disabled]="
                  selectedPhases.length == 0 || category == 'pH' || category == 'ion'
                "
                (selectionChange)="onChangeCompoundSelection($event)"
              >
                {{ compound.name }}
              </mat-chip-option>
            </mat-chip-listbox>
          </mat-card>

          <mat-card>
            <mat-chip-listbox *ngIf="ion_names" multiple>
              <mat-chip-option
                *ngFor="let ion of ionOptions"
                [value]="ion.id"
                [disabled]="
                  selectedPhases.length == 0 ||
                  category == 'pH' ||
                  category == 'compound'
                "
                [selected]="selectedIons.includes(ion.id)"
                (selectionChange)="onChangeIonSelection($event)"
              >
                {{ ion.name }}
              </mat-chip-option>
            </mat-chip-listbox>
          </mat-card>
        </mat-card-content>
 
 






    <mat-card class = "bar-chart-container" *ngIf="solutionMixture.phase_sliced_data">
      <mat-card class = "bar-chart" [ngStyle]="{'width': solutionMixture.steps.length*200}" *ngIf="category == 'pH'">
        <plotly-plot
          [data]="phaseBasedDataByCategory"
          [layout]="pHBarLayout"
        ></plotly-plot>
      </mat-card>
      <mat-card class = "bar-chart" [ngStyle]="{'width': solutionMixture.steps.length*200}" *ngIf="category == 'ion'">
        <plotly-plot
          [data]="phaseBasedDataByCategory"
          [layout]="ionBarLayout"
        ></plotly-plot>
      </mat-card>
      <mat-card  class = "bar-chart" [ngStyle]="{'width': solutionMixture.steps.length*200}" *ngIf="category == 'compound'">
      <plotly-plot
        [data]="phaseBasedDataByCategory"
        [layout]="compBarLayout"
      ></plotly-plot>
    </mat-card>
    </mat-card>








  <mat-card class = "bar-chart-container" *ngIf="solutionMixture.phase_sliced_data">
      <mat-card class = "bar-chart" [ngStyle]="{'width': solutionMixture.steps.length*200}" *ngIf="pH_interval_data_phase">
        <plotly-plot
          [data]="pH_interval_data_phase"
          [layout]="pHBarLayout"
        ></plotly-plot>
      </mat-card>
      <mat-card class = "bar-chart" [ngStyle]="{'width': solutionMixture.steps.length*200}" *ngIf="ion_interval_data_phase_layout">
        <plotly-plot
          [data]="ion_interval_data_phase"
          [layout]="ionBarLayout"
        ></plotly-plot>
      </mat-card>
      <mat-card  class = "bar-chart" [ngStyle]="{'width': solutionMixture.steps.length*200}" *ngIf="compound_interval_data_phase">
      <plotly-plot
        [data]="compound_interval_data_phase"
        [layout]="compBarLayout"
      ></plotly-plot>
    </mat-card>
  </mat-card>




  <mat-card *ngIf="plot2data" class="bar-chart-container">
    <mat-card class="bar-chart">
      <plotly-plot
        [data]="solution_volumes_data"
        [layout]="solution_volumes_layout"
      ></plotly-plot>
    </mat-card>
    <mat-card class="bar-chart">
      <plotly-plot
        [data]="ion_concs_data"
        [layout]="ion_concs_layout"
      ></plotly-plot>
    </mat-card>
    <mat-card class="bar-chart">
      <plotly-plot
        [data]="compound_concs_data"
        [layout]="compound_concs_layout"
      ></plotly-plot>
    </mat-card>
  </mat-card>









</mat-card>
