<mat-card class="browse-edit-prepare-card">
<!--   <mat-card-header>
    <mat-card-title>Solutions Browse, Edit, Prepare</mat-card-title>
  </mat-card-header> -->
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card class="solution-select-card">
      <mat-card-header>
        <mat-card-title>Pick Solution from Library</mat-card-title>
        <mat-card-subtitle
          >Filter solutions by single or dual buffer species,
          single species with acid/base or stock solutions
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card class="autocomplete-select">
          <mat-form-field appearance="outline" class="rounded-input">
            <input
              matInput
              [formControl]="solutions_selection_Control"
              [matAutocomplete]="auto"
            />
            <mat-label>Select Solution from Library</mat-label>
            <mat-hint
              >Start typing to filter solutions, choose categories to narrow
              your results</mat-hint
            >
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onSolutionSelected($event.option.value)"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let solution of filteredSolutions | async"
                [value]="solution"
              >
                {{ solution.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </mat-card>
      </mat-card-content>
      <mat-card-content class="categories">
      <mat-card-content class="chip-categories">
        <mat-chip-listbox>
          <mat-chip-option
            *ngFor="let category of categories"
            (click)="selectCategory(category)"
            [selected]="selectedCategory === category"
          >
            {{ categoryDisplayNames[category] }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>

      <mat-card-content class="chip-subcategories">
        <!-- Assuming you want to allow subcategory selection -->
        <mat-chip-listbox *ngIf="selectedCategory">
          <mat-chip-option
            (click)="selectSubCategory('withSalt')"
            [selected]="selectedSubCategory === 'withSalt'"
            [disabled]="stockSolutionsSelected"
            (selectionChange)="onChipSelection('withSalt', $event.selected)"
            >With Salt</mat-chip-option
          >
          <mat-chip-option
            (click)="selectSubCategory('withoutSalt')"
            [selected]="selectedSubCategory === 'withoutSalt'"
            [disabled]="stockSolutionsSelected"
            (selectionChange)="onChipSelection('withoutSalt', $event.selected)"
            >Without Salt</mat-chip-option
          >
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card-content>
    </mat-card>

    <mat-card
      class="solution-edit-card"
      *ngIf="
        isBufferwithSaltSolution ||
        isBufferwithoutSaltSolution ||
        isStockSolution
      "
    >
<!--       <mat-card-header>
        <mat-card-title>Edit Solution</mat-card-title>
      </mat-card-header>-->
      <mat-divider></mat-divider> 
      <!-- Conditional form fields -->
      <form
        [formGroup]="bufferspecieswithSaltForm"
        (ngSubmit)="onSubmitBufferwithSalt()"
      >
        <!-- Fields for buffer species solutions -->
        <mat-card *ngIf="isBufferwithSaltSolution" class="solution-edits">
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Buffer Species</mat-label>
            <input matInput formControlName="buffer_species" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Target Concentration</mat-label>
            <input matInput formControlName="target_conc" type="number" />
            <mat-error
              *ngIf="
                bufferspecieswithSaltForm
                  .get('target_conc')
                  .hasError('required')
              "
            >
              Target concentration is required.
            </mat-error>
            <mat-error
              *ngIf="
                bufferspecieswithSaltForm.get('target_conc').hasError('min') ||
                bufferspecieswithSaltForm.get('target_conc').hasError('max')
              "
            >
              Target concentration must be between 0.01 and 10.
            </mat-error>

            <mat-error
              *ngIf="isDuplicate">
              You have already added this solution
              </mat-error>


          </mat-form-field>

          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Salt Compound Name</mat-label>
            <input matInput formControlName="salt_compound_name" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Salt Concentration</mat-label>
            <input matInput formControlName="salt_conc" type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Target pH</mat-label>
            <input matInput formControlName="target_pH" type="number" />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">
           {{actionType}}
          </button>
        </mat-card>
      </form>

      <form
        [formGroup]="bufferspecieswithoutSaltForm"
        (ngSubmit)="onSubmitBufferwithoutSalt()"
      >
        <!-- Fields for buffer species solutions -->
        <mat-card *ngIf="isBufferwithoutSaltSolution" class="solution-edits">
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Buffer Species</mat-label>
            <input matInput formControlName="buffer_species" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Target Concentration</mat-label>
            <input matInput formControlName="target_conc" type="number" />
            <mat-error
              *ngIf="
                bufferspecieswithSaltForm
                  .get('target_conc')
                  .hasError('required')
              "
            >
              Target concentration is required.
            </mat-error>
            <mat-error
              *ngIf="
                bufferspecieswithSaltForm.get('target_conc').hasError('min') ||
                bufferspecieswithSaltForm.get('target_conc').hasError('max')
              "
            >
              Target concentration must be between 0.01 and 10.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Target pH</mat-label>
            <input matInput formControlName="target_pH" type="number" />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">
            {{actionType}}
          </button>
        </mat-card>
      </form>

      <form
        [formGroup]="stockSolutionForm"
        (ngSubmit)="onSubmitStockSolution()"
      >
        <!-- Fields for stock solutions -->
        <mat-card *ngIf="isStockSolution" class="solution-edits">
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Compound Name</mat-label>
            <input matInput formControlName="compound_name" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-fields">
            <mat-label>Compound Concentration</mat-label>
            <input matInput formControlName="compound_conc" type="number" />
          </mat-form-field>

          <button
            mat-raised-button
            class="input-fields"
            color="primary"
            type="submit"
          >
          {{actionType}}
          </button>
        </mat-card>

        <!-- Submit Button -->
      </form>
    </mat-card>


    <mat-card class="solution-list-background" *ngIf="solution_mixture_steps.length>0">
<!--       <mat-card-header>
        <mat-card-title>Solution List </mat-card-title>
      </mat-card-header> -->
      <mat-card class="solution-list-container"  #scrollRef *ngIf="solution_mixture_steps">
        <ng-container *ngFor="
        let step of solution_mixture_steps
        let i = index"
     >

        <mat-card class="solution-card" *ngIf="step.category=='Make'"  [attr.data-index]="i" (click)="onSelectItem(i)" [ngClass]="{'selected-card': i === selectedStepIndex}">
          <mat-card-header >
            <mat-card-subtitle class="buffer-name">{{ step.associated_solution }}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
           <ng-container *ngIf="getSolutionbyName(step.associated_solution)">
          <mat-card-content *ngFor="let compound of getSolutionbyName(step.associated_solution).compound_concentrations | keyvalue">
            <p class="less-space">{{ compound.key }}: {{ compound.value | number: '1.3-3' }}M</p>
            <mat-divider></mat-divider>
          </mat-card-content>
          </ng-container> 
          <mat-card-content class="card-buttons" >


              <div *ngIf="step.validation_flag.flag =='Linked'" class = "warn-buttons">
                
                <p class="less-space">Linked</p> 
                <button mat-icon-button aria-label="Confirm Edit item" (click)="EditSolution(i)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="warn" aria-label="Confirm Delete item"  (click)="removeSolution(i)"><mat-icon>delete</mat-icon></button>
              </div>
              <div *ngIf="step.validation_flag.flag =='None'" class="normal-buttons">
                
                <button mat-icon-button aria-label="Edit item" (click)="EditSolution(i)"> <mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="accent" aria-label="Delete item"  (click)="removeSolution(i)"><mat-icon>delete</mat-icon></button>
              </div>


          </mat-card-content>
          
        </mat-card>
      </ng-container>
      </mat-card>
    </mat-card>
  </mat-card-content>
  </mat-card>
