@import '../../../../buffer_colors.scss';

.browse-edit-prepare-card { //main card that hold all the content
  display: flex;
  flex-direction: column;
  //gap: 10px; /* Adjust based on your layout preference */
  //background-color: aqua;
  justify-content: center;
  width:100%;
  align-items: center;
  align-self:center;
 padding-left:4px;
 border-top: 1px solid black;
 box-shadow: none;
 }

 .solution-select-card {
  display: flex;
  flex-direction: column;
  gap: 0px; /* Adjust based on your layout preference */
//background-color:red;
  justify-content: center;
  width:100%;
  //width:calc(100vw - 2*24px - 2*10px);
  padding:0px;
  box-shadow:none;
}
.title-header {

  @media (max-width: 600px) {
    padding:5px;
    padding-left:10px;
  
}
}

.autocomplete-select {
  //background-color:$primary-color;
  width: 100%;
  box-shadow: none;

}
.rounded-input {
  border-radius: 50px;

}
@media (max-width: 600px) {
  .hint-text {
    display:none;
  }
}

.rounded-input .mat-form-field-infix {
  border-radius: 25px;
  /* Applies rounded corners to the input area */
}

:host ::ng-deep .mat-form-field-infix {
  padding: 0 5px;
}

.mat-card-header{
  box-shadow:none;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  //gap: 10px; /* Adjust based on your layout preference */
  //padding:0px;
 box-shadow:none;
 padding-top:5px;
  @media (max-width: 600px) {
      padding-bottom: 5px;
    }
}
.chip-categories {
  display: flex;
  //i want the chips to be centered on the card
  //justify-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow chips to wrap to the next line */
  gap: 0px; /* Adjust based on your layout preference */
  box-shadow: none;
  padding:0px;
  padding-right:15px;
  width:50vw;

}
.chip-subcategories {
  display: flex;
  //i want the chips to be centered on the card
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow chips to wrap to the next line */
  //gap: 10px; /* Adjust based on your layout preference */
  padding:0px;
  padding-left:15px;
  //margin-left:25px;
  border-left: 1px solid $divider-green;
  box-shadow:none;
}

.card-buttons {
  padding:0px;
}

.solution-edit-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Adjust based on your layout preference */

  justify-content: center;
  width: 100%;
  box-shadow: none;
  align-items: center;
    @media (max-width: 600px) {
        gap: 2px;
      }

}

.solution-edits {
 
  display: grid;
  // grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-columns: 1fr 1fr;
  width: 100%;
  /* Adjust based on your layout preference */
  //gap: 5px; /* Adjust based on your layout preference */
  // flex-direction: row;
  border-width: 1px;
  border-color: $card-background-cream;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  /* Adjust based on your layout preference */
  padding: 5px;
  box-shadow: none;
}

//.solution-edits > :nth-child(6) {
// grid-column: 1 / -1;
//}
.input-fields {
  display: flex;
  width: 40vw;
  // flex-direction: column;
  justify-self: center;
  //flex:1;
  gap: 10px;
  /* Adjust based on your layout preference */
  margin-left: 8px;
    @media (max-width: 600px) {
        gap:0px;
      }
}

.button-class {
  //width:100%;
}



.remove_edit_buttons{
  display: flex;
  flex-direction: row;
  gap: 10px; /* Adjust based on your layout preference */
  padding:0px;
  justify-content: space-between;
  align-items: center;
  //width:100%;
}

.warn-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.normal-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}



.mat-icon {
  cursor: pointer;
  
  font-size: 1em;
  //margin: 5px;
  //padding: 5px;
  //border-radius: 50%;
  //background-color: $secondary-color;
  //box-shadow: 0 0 5px 0 $secondary-color;
  //transition: box-shadow 0.3s ease-in-out;
  //&:hover {
  //  box-shadow: 0 0 10px 0 $secondary-color;
  //}

}
.less-space{
  font-size:12px;
  margin-bottom:1px;
  margin-top:3px;
}

::ng-deep mat-chip-list.mat-chip-list-stacked {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.solution-list-background {
  display: flex;
  //flex-direction: column;
  //gap: 10px; /* Adjust based on your layout preference */

  justify-content: center;
  //width: calc(98vw - 10px);
  box-shadow: none;
  align-items: center;






  align-self:center;
  box-shadow:none;
  
width:100%;
}
  .solution-list-container {
   width:96%;
   
   display: grid;
    grid-auto-flow:column ; /* Adjust based on your layout preference */
    grid-template-columns: auto; /* Adjust based on your layout preference */
    margin: 5px;
    overflow-x: auto;
    //width:25vw;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    //background-color: $card-background-cream;
    box-shadow:none;
    //background-color: rgb(176, 239, 239);
    //border-width: 3px;
    //border-color: $border-color;

  border: solid 1px $card-background-cream;
    justify-items:center;
    align-items: center ;
  gap:5px;
  padding-top:16px;
  padding-bottom:16px;
@media (max-width: 600px) {
  padding-bottom:3px;
  padding-top:3px;

  }
}
  .solution-card {
    white-space: nowrap;
    width:26vw;
    
    // max-width: 35vw;
    // min-width:150px;
    // max-height: 350px;
    //  margin: 10px;
    //  scroll-snap-align: start;
    // //background-color: $card-background;
     border:none;
     margin:3px;
     height:100%;
      @media (max-width: 600px) {

      width:50vw;
      height:97%;
      
        }

  }
 
  




  .buffer-name {
    //font-size: .8em;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-wrap:pretty;
    color: black;
  }






