.browse-edit-prepare-card {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust based on your layout preference */
  background-color: rgb(146, 121, 229);
  justify-content: center;
  width:100%;
 }
 .selected-card {
  background-color: #b1d941; /* Change as needed */
}

.solution-select-card {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust based on your layout preference */
  background-color: antiquewhite;
  justify-content: center;
  width:100%;
}
.less-space{
  margin-bottom:1px;
  margin-top:3px;
}
  .solution-list-container {
    max-width:90vw;
    display: grid;
    grid-auto-flow:column ; /* Adjust based on your layout preference */
    grid-template-columns: repeat(3, 1fr); /* Adjust based on your layout preference */
    margin: 5px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    //background-color: $card-background-cream;
    box-shadow:none;
    //background-color: rgb(176, 239, 239);
    border-width: 3px;
  border-color: red;
  gap:5px;
  }
  .solution-card {
    white-space: nowrap;
    // max-width: 35vw;
    // min-width:150px;
    // max-height: 350px;
    //  margin: 10px;
    //  scroll-snap-align: start;
    // //background-color: $card-background;
     color: black;
     margin:3px;
  }
  .buffer-name {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-wrap:pretty;

  }
  .chip-categories {
    display: flex;
    //i want the chips to be centered on the card
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow chips to wrap to the next line */
    gap: 15px; /* Adjust based on your layout preference */
  }
  .chip-subcategories {
    display: flex;
    //i want the chips to be centered on the card
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow chips to wrap to the next line */
    gap: 15px; /* Adjust based on your layout preference */
  }

  .autocomplete-select {
    background-color: rgb(207, 207, 15);
    width: 100%;
  }

  .solution-edit-card {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust based on your layout preference */
    background-color: rgb(189, 141, 78);
    justify-content: center;
    width:100%;
    align-items: center;
  }

  .solution-edits {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust based on your layout preference */
    gap: 15px; /* Adjust based on your layout preference */
       // flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
    gap: 15px; /* Adjust based on your layout preference */
    padding:15px;
  }
  .input-fields {
    display: flex;
    flex-direction: column;
    
    //flex:1;
    gap: 10px; /* Adjust based on your layout preference */
  }