<mat-card class="feedback-form">
    <mat-card class="content">
      <h2>We are still learning - and working together we can make this app great!</h2>
      <form [formGroup]="feedbackForm" class="form-class" (ngSubmit)="onSubmit()">
        <!-- Section for User Experience -->
  
        <mat-form-field appearance="fill" class="full_width">
          <mat-label>Message</mat-label>
          <textarea matInput formControlName="message" rows="5" required></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label class="label_q">What were the issues you faced with the user
            interface? What did you like?</mat-label>
          <textarea class="text_input" matInput
            formControlName="userExperienceComments" rows="5"
            placeholder="Comments on user experience" required></textarea>
        </mat-form-field>
        <div class="stars">
          <mat-form-field appearance="fill">
            <mat-label class="label_q">How would you rate the user interface and
              experience?</mat-label>
            <mat-icon
              *ngFor="let star of stars; let i = index"
              (click)="countStar(i + 1, 'userExperience')"
              [ngClass]="{'active': star <= feedbackForm.get('userExperience').value}">
              {{ star <= feedbackForm.get('userExperience').value ? 'star' :
              'star_border' }}
            </mat-icon>
          </mat-form-field>
        </div>
  
        <!-- Section for Calculation Confidence -->
        <mat-card class="rating-section">
          <mat-label class="label_q">What were the issues you had with the
            calculations or designer results ? What went well?</mat-label>
  
          <textarea matInput class="text_input"
            formControlName="calculationConfidenceComments"
            placeholder="Comments on calculation confidence" required></textarea>
          <mat-label class="label_q">l>How would you rate the buffer designer
            results?</mat-label>
          <div class="stars">
            <mat-icon
              *ngFor="let star of stars; let i = index"
              (click)="countStar(i + 1, 'calculationConfidence')"
              [ngClass]="{'active': star <= feedbackForm.get('calculationConfidence').value}">
              {{ star <= feedbackForm.get('calculationConfidence').value ? 'star'
              : 'star_border' }}
            </mat-icon>
          </div>
  
        </mat-card>
  
        <mat-card class="rating-section">
          <mat-form-field class="full-width">
            <mat-label class="label_q">What were features that you would like to
              see added? Which features did you like?</mat-label>
            <textarea matInput class="text_input"
              formControlName="featureSetComments" rows="5"
              placeholder="Comments on Feature Sets" required></textarea>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <mat-label class="label_q">How would you rate the feature set?</mat-label>
  
            <div class="stars">
              <mat-icon
                *ngFor="let star of stars; let i = index"
                (click)="countStar(i + 1, 'featureSet')"
                [ngClass]="{'active': star <= feedbackForm.get('featureSet').value}">
                {{ star <= feedbackForm.get('featureSet').value ? 'star' :
                'star_border' }}
              </mat-icon>
            </div>
          </mat-form-field>
        </mat-card>
  
        <button mat-raised-button color="accent" class="wide-button" type="submit"
          [disabled]="!feedbackForm.valid">Submit Feedback</button>
      </form>
    </mat-card>
  </mat-card>
  