<mat-card class="solution-mixture-steps-card">
    <mat-card-header>
        <mat-card-title>
            Select, Edit and Execute Solution Mixture Preparation Workflow
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card class="solution-operations-group-choice-card">
            <mat-card-header>
                <mat-card-title>
                    <h2>Choose Solution Operations Group</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                create a mat-chip-list or option
                <mat-chip-listbox class="group-option-choice">
                    <mat-chip-option *ngFor="let group of operationGroups"
                        (click)="onOperationGroupSelect(group.id)">
                        {{ group.displayName }}
                    </mat-chip-option>
                </mat-chip-listbox>

            </mat-card-content>

        </mat-card>

        <mat-card class="step-editor-card" *ngIf="volumeAdditions || targetConc_pH || solutionModification">

            <mat-card-header>
                <mat-card-title>
                    <h2>Edit Solution Mixture Preparation Steps</h2>
                </mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <mat-card class="step-editor-details">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Step Editor</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content *ngIf="volumeAdditions" class="action_choice_card_content">
                        <mat-chip-listbox class="group-option-choice">
                            <mat-chip-option *ngFor="let action of volume_actions"
                                (click)="onVolumeActionSelect(action.id)">
                                {{ action.displayName }}
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </mat-card-content>

                    <mat-card-content *ngIf="targetConc_pH && !compound_allZero && !ion_allZero" class="action_choice_card_content">
                        <mat-chip-listbox class="group-option-choice">
                            <mat-chip-option *ngFor="let action of target_conc_pH_actions"
                                (click)="onTargetConc_pHActionSelect(action.id)">
                                {{ action.displayName }}
                            </mat-chip-option>
                        </mat-chip-listbox>


                    </mat-card-content>


                    <mat-card-content *ngIf="solutionModification" class="action_choice_card_content">
                            <mat-chip-listbox class="group-option-choice">
                                <mat-chip-option *ngFor="let action of solution_modification_actions"
                                    (click)="onSolutionModificationActionSelect(action.id)">
                                    {{ action.displayName }}
                                </mat-chip-option>
                            </mat-chip-listbox>


                    </mat-card-content>
                    <mat-card-content>
                        <mat-card class="volumeAdditionsCard" *ngIf="volumeAdditions && volumeAdditionsActionsSelected">
                            <mat-card-header>
                                <mat-card-title>Volume Additions Actions too
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>

                                
                                    <ng-container *ngTemplateOutlet="selectedTemplate"></ng-container>

                          
                            </mat-card-content>


                        </mat-card>

                        <mat-card class="targetConc_pHCard" *ngIf="targetConc_pH && targetConc_pHActionsSelected">
                            <mat-card-header>
                                <mat-card-title>Target Compound, Ion
                                    Concentrations or pH Actions
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>

                                <ng-container *ngTemplateOutlet="selectedTemplate"></ng-container>
                            </mat-card-content>

                            <mat-card-actions>
                                <button mat-raised-button color="primary">Add Step</button>
                            </mat-card-actions>
                        </mat-card>

                        <mat-card class="solutionModificationCard" *ngIf="solutionModification && solutionModificationActionsSelected">
                            <mat-card-header>
                                <mat-card-title>Target Ion Concentration and pH
                                    Actions </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>

                                <p> Target Solution Mod Form goes here</p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button mat-raised-button color="primary">Add Step</button>
                            </mat-card-actions>
                        </mat-card>

                    </mat-card-content>

                </mat-card>

            </mat-card-content>

        </mat-card>
    </mat-card-content>


    <mat-card class="solution-list-background" *ngIf="steps_list">
        <mat-card-header>
          <mat-card-title>Step List </mat-card-title>
        </mat-card-header>
        <mat-card class="solution-list-container"  #scrollRef *ngIf="steps_list">
  
  
          <mat-card class="solution-card" *ngFor="
              let step of steps_list;
              let i = index"
            [attr.data-index]="i">
            <mat-card-header>
              <mat-card-subtitle class="buffer-name">{{ step.associated_solution }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div *ngFor="let item of step.parameters | keyvalue">
                <p>{{item.key}}: {{item.value}}</p>
              </div>
  
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="removeStep(i)">Remove</button>
              <button mat-button (click)="editStep(i)">Edit</button>
            </mat-card-actions>
          </mat-card>
        </mat-card>
      </mat-card>


      <mat-card class="solution-mixture-view-card" *ngIf="solution_mixture_steps_edit">
        <mat-card-header>
            <mat-card-title>
                Solution Mixture View
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="solution-mixture-properties">
                <mat-card-header>
                    <mat-card-title>
                        <h2>Solution Mixture Details</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content *ngFor="let compound of solution_mixture_steps_edit.compound_concentrations | keyvalue">
                    <p>{{compound.key}}:{{compound.value}} M</p>
                </mat-card-content>

                <mat-card-content *ngFor="let ion of solution_mixture_steps_edit.ion_concentrations | keyvalue">
                    <p>{{ion.key}}:{{ion.value}} M</p>
                </mat-card-content>
                <mat-card-content *ngFor = "let solution of solution_mixture_steps_edit.solutions" >
                    <p>{{solution.name}}:{{solution.volume}} L</p> 
                </mat-card-content>

                <mat-card-content><p> {{solution_mixture_steps_edit.volume}}</p></mat-card-content>
                <mat-card-title>pH : {{solution_mixture_steps_edit.pH}}</mat-card-title>

            </mat-card>
        </mat-card-content>






















    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onExecute()">Execute Workflow</button>
    </mat-card-actions>
</mat-card>


<ng-template #TitrateSpecifiedVolumeofSolution>
    <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">  
    <mat-card class="VolumeActionForm">
        <mat-card-header>
            <mat-card-title> Titrate with Specified Volume of Solution</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Solution Name</mat-label>
                <mat-select formControlName="solution_name">
                  <mat-option *ngFor="let name of solution_names" [value]="name">{{ name }}</mat-option>
                </mat-select>
              </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Volume to Titrate</mat-label>
                    <input matInput formControlName="volume">
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add Step</button>
        </mat-card-actions>
    </mat-card>
    </form>
</ng-template>


<ng-template #AddSpecifiedVolumeofSolution>
    <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">  
    <mat-card class="VolumeActionForm">
        <mat-card-header>
            <mat-card-title> Add Specified Volume of Solution</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Solution Name</mat-label>
                <mat-select formControlName="solution_name">
                  <mat-option *ngFor="let name of solution_names" [value]="name">{{ name }}</mat-option>
                </mat-select>
              </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Volume to Add</mat-label>
                    <input matInput formControlName="volume_to_add">
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add Step</button>
        </mat-card-actions>
    </mat-card>
    </form>
</ng-template>


<ng-template #AddSpecifiedVolumeofWater>
    <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">  
    <mat-card class="VolumeActionForm">
        <mat-card-header>
            <mat-card-title> Add Specified Volume of Water</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Volume to Add</mat-label>
            <input matInput formControlName="volume_to_add">
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add Step</button>
        </mat-card-actions>
    </mat-card>
    </form>
</ng-template>


<ng-template #DilutetoRatioWater>
    <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">  
    <mat-card class="VolumeActionForm">
        <mat-card-header>
            <mat-card-title> Dilute by a ratio with Water </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Dilution Ratio</mat-label>
            <input matInput formControlName="dilution_ratio">
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add Step</button>
        </mat-card-actions>
    </mat-card>
    </form>
</ng-template>

<ng-template #AddWaterToTargetCompoundConcentration>
    <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">  
    <mat-card class="targetConc_pHform">
        <mat-card-header>
            <mat-card-title> Add Water to Target Compound Concentration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Compound Name</mat-label>
                <mat-select formControlName="compound_name" >
                  <mat-option *ngFor="let name of compound_names" [value]="name">{{ name }}</mat-option>
                </mat-select>
              </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Target Compound Concentration</mat-label>
            <input matInput formControlName="target_conc">
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Add Step</button>
        </mat-card-actions>
    </mat-card>
    </form>