@import "../../../../shared-styles.scss";
.solution-mixture-steps-card {
  display: flex;
  align-items: center;
  box-shadow: none;
  //justify-content: space-between;
  //padding-left:0px;
  //border-bottom: 9px solid red;
}
.wrapper-solution-list {
  padding: 3px;
  //media query for padding to be 5px for mobile
  box-shadow: none;
  @media (max-width: 600px) {
    padding: 5px;
  }
}

.solution-list-background {
  border: solid 1px $card-background-cream;
  box-shadow: none;
  gap: 5px;
}
.solution-list-container {
  //width:calc(100vw - 2*24px - 2*10px);
  width: 97%;
  display: grid;
  grid-auto-flow: column; /* Adjust based on your layout preference */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Adjust based on your layout preference */
  margin: 5px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  //background-color: $card-background-cream;
  box-shadow: none;
  //background-color: rgb(176, 239, 239);
  border: 3px solid $card-background-cream;
  border-width: 3px;
  gap: 5px;
  justify-items: center;
  align-items: center;
  align-self: center;
  //write media query for grid-template-columns to be 2,1fr
  @media (max-width: 600px) {
    grid-template-columns: repeat(
      2,
      1fr
    ); // Adjust based on your layout preference
  }
}

.solution-card {
  white-space: nowrap;
  //width: 27vw;
  // max-width: 35vw;
  // min-width:150px;
  // max-height: 350px;
  //  margin: 10px;
  //  scroll-snap-align: start;
  // //background-color: $card-background;
  //color: black;
  //background-color: none;
  margin: 3px;
  height: 95%;
  border:3px solid $card-background-cream;
}
.buffer-name {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-wrap: pretty;
  color: black;
  //padding-bottom: 5px;
  margin:5px;
  height:50px;
  overflow: normal;
  box-shadow:0px 0px 1px 1px rgba(112, 103, 103, 0.5);;
}
.compound-container {
  display: flex;
  // border-color:black;
  //border-width: 2px;
  flex-direction: column;

  align-items: left;
  justify-content: space-evenly;
  //gap:2px;
  box-shadow: none;
  background-color: transparent;
  padding: 8px;
}

.ion-container {
  display: flex;
  //border-color:rgb(250, 247, 247);
  // border-width: 1px;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  //height:100%;
  box-shadow: none;
  padding: 8px;
  .mat-form-field {
    font-size: 12px;
  }
}


.header-button {
  justify-content: space-between;
}
mat-card-content {
  padding: 0;
  box-shadow: none;
  align-items: center;
}

.grid-container {
  
  display: grid;
  grid-template-columns: 1.0fr 1.0fr 2.0fr;
  grid-template-areas: "choice-cards category_choice step-form-card";
  padding: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  //background-color: $card-background-cream;
  box-shadow: none;
  border-width: 1px;
  border-color: $card-background-cream;
  border-style: solid;
  height: 300px;
  //background-color: rgb(176, 239, 239);
}

mat-card-title {
  font-size: 1em;
}

.card-invalid {
  background-color: red;
  //color: white;
}
.choice-cards {
  grid-area: choice-cards;
  box-shadow: none;
}
.category-card-content {
  padding: 3px;
  box-shadow: none;
}
.secondary-choice-content {
  padding: 3px;
  box-shadow: none;
}
.category_choice {
  grid-area: category_choice;
  flex-direction: row;
  margin: 5px;
  //background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}

.step-form-card {
  grid-area: step-form-card;
  display: flex;

  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 0 5px;
  //background-color: $primary-color;
  border: 2px solid $card-background-cream;
  //color: #333;
  box-shadow: none;
}

.step-form-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: $primary-color;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}
.template-header {
  padding: 0px;
}


.selected-template-content {
  width:100%;
  padding: 5px;
  box-shadow: none;
}

.template_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  //background-color: $primary-color;
  border-bottom: 1px solid #e0e0e0;
  //color: #333;
}

.volumeActionForm {
  padding: 0;
  box-shadow: none;
}

.step-card {
  padding:0px;
  padding-bottom: 2px;
}




mat-card-header {
  padding: 0;
  box-shadow: none;
}
.selected-card {
  border-width: 3px;
  border-color: black;
}

:host ::ng-deep .mdc-evolution-chip__text-label {
  font-size: 10px !important;
  //font-weight: 500;
  color: #333;
  padding: 0 8px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.9;
}
:host ::ng-deep .mat-mdc-standard-chip {
  --mdc-chip-label-text-line-height: 14px !important;
}

.less-space {
  display:flex;
  flex-direction: row;
  margin-bottom: 1px;
  margin-top: 3px;
  margin-left: 15px;
  //i want the text to wrap if it is too long
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  background-color: transparent;
  gap:5px;
  //justify-content: space-between;
}

.keyp {
  width: 100px;
  flex:1;
}

.valuep {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  flex:3;
  margin-right:10px;
}

.less-space-container {
  padding: 5px;
  box-shadow: red;
}

.boxy {
  background-color: transparent;
  box-shadow: none;
}
.normal-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

  height:30px;
}

.stroked_btn {
  border: 3px solid $card-background-cream;
  background-color: transparent;
  //color: #333;
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  height:25px;

}
.stocked_btn:focus {
  //outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
.title_vol_pH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #a6d8a4;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  width:100%;

}
// .solution-volume-pH-card {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   padding: 0 20px;
//   background-color: #0f730a;
//   border-bottom: 1px solid #e0e0e0;
//   color: #333;
// }



.comp-ion-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 8px;
  color: black;
  // background-color: #F3F2EC
  padding: 2px;
  width: 95%;
  align-self: center;
}


mat-card {
  box-shadow: none;
}
mat-card-content {
  padding: 0;
  box-shadow: none;
}
.template-form-fields {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  //gap:15px;
  padding: 0 5px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  box-shadow: none;
}



.volumeAdditonsCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0f730a;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}

.targetConc_pHCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #c9bb22;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}

.solutionModificationCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #bb5050;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}

.solution-mixture-view-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  //padding: 0 20px;
  //background-color: #0f730a;
 border: 1px solid $card-background-cream;
  //color: #333;
 max-width:500px;
}
.grid-contain {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Three parts of the space for the main content, one part for the sidebar */
  grid-auto-rows: auto; /* Auto for title and headers, remaining space for the content and footer */
  gap: 10px; /* Adjust the gap between grid items */
  padding: 10px; /* Padding around the grid container */
  max-width: 1000px; /* Adjust the width as necessary */
  margin: auto; /* For centering the grid container if needed */
  width:100%;
}
// .grid-contain2 {
//   display: grid;
//   grid-template-columns: 3fr 1fr; /* Three parts of the space for the main content, one part for the sidebar */
//   grid-auto-rows: auto; /* Auto for title and headers, remaining space for the content and footer */
//   grid-template-areas:
//   "compound_list ion_list";
//   gap: 10px; /* Adjust the gap between grid items */
//   padding: 10px; /* Padding around the grid container */
//   max-width: 1000px; /* Adjust the width as necessary */
//   margin: auto; /* For centering the grid container if needed */
//   width:100%;
// }

// .grid-item {
//   padding: 10px; /* Padding within each grid item */
// }

// .title {
//   background-color: #555; /* Example color for the title, adjust as needed */
//   color: white;
//   grid-column: 1 / -1; /* Title spans both columns */
//   grid-row:1;
//   text-align: center;
// }

// .solution_list{
//   background-color: #64B5F6; /* Example color for headers, adjust as needed */
//   color: white;
//   grid-column: 1; /* Header spans both columns */
//   grid-row:2 span auto;
// }

// .compound_list {
//   grid-area:compound_list;
//   display:flex;
//   flex-direction: column;
//   background-color: #ECEFF1; /* Example color for main content, adjust as needed */

 
// }
.vol_pH_solution {
display:grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas: 
"solution-volume-pH-card";
//gap: 10px;
//padding: 10px;
//background-color: #309ee8; /* Example color for main content, adjust as needed */

 
}

.volume_pH_content {
  grid-area:volume_pH_content;
  display:flex;
  flex-direction: column;
  //background-color: #91c066; /* Example color for main content, adjust as needed */

 
}
.solution-volume-pH-card {
  grid-area:solution-volume-pH-card;
  display:flex;
  flex-direction:column;
  //justify-content: space-between;
  align-items: left;
  //padding: 0 20px;
  //background-color: #d3bc0c;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  padding:0;
  padding-left: 15px;
  padding-right:15px;

}

.solution-name-vol {
  display:flex;
flex-direction: row;  //background-color: #333;
  margin-bottom: 2px;
  margin-left: 10px;
  font-weight: 400;
  gap:10px;
  //font-stretch: expanded;
  font-size: 1em;
  //color: whitesmoke;
  white-space: normal;
  align-self:center;
  align-items: left ;
padding:0px;
}
.Volume {
  grid-area:Volume;

  display:flex;
  //background-color: #0a2362; /* Example color for sidebar, adjust as needed */
  //grid-column: 2; /* Occupies the second column */
  //grid-row:3;
//background-color: #333;
  margin-bottom: 2px;
  margin-right: 20px;
  font-weight: 400;
  //font-stretch: expanded;
  font-size: medium;
  //color: whitesmoke;
  white-space: nowrap;
  justify-content: right;
}

.titles {
  display:grid;
  grid-template-columns:auto auto;
  grid-template-areas:
  "pH Volume";

  //background-color: #333;
  margin-bottom: 2px;
  margin-left: 10px;
  font-weight: 200;
  //font-stretch: expanded;
  font-size: medium;
  //color: whitesmoke;
  white-space: nowrap;
 //justify-content: space-between;
  width:95%;

}

.pH {
 grid-area:pH;
  display:flex;
//background-color: #333;
  margin-bottom: 2px;
  margin-left: 20px;
  font-weight: 400;
  //font-stretch: expanded;
  font-size: medium;
  //color: whitesmoke;
  white-space: nowrap;
justify-content: left ;


}

// .ion_list{
// grid-area:ion_list;
//    display:flex;
//   flex-direction: column;
//   //background-color: #CDDC39; /* Example color for footer, adjust as needed */
//   /* Occupies the first column */
 
// }

/* Adjust the responsive design as needed */


