<mat-card class="solution-mixture-steps-card">
  <mat-card-header>
    <mat-card-title>
      Select, Edit and Execute Solution Mixture Preparation Workflow
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="solution-list-background" *ngIf="steps_list.length > 0">
      <!--       <mat-card-header>
                    <mat-card-title>Solution List </mat-card-title>
                  </mat-card-header> -->
      <mat-card class="solution-list-container" #scrollRef *ngIf="steps_list">
        <ng-container *ngFor="let step of steps_list; let i = index">
          <mat-card
            class="solution-card"
            *ngIf="step.category == 'Make'"
            [attr.data-index]="i"
          >
            <mat-card-header>
              <mat-card-subtitle class="buffer-name">{{
                step.associated_solution
              }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content
              *ngIf="getSolutionbyName(step.associated_solution)"
              class="comp-ion-container"
            >
              <mat-card class="compound-container">
                <mat-card-content
                  *ngFor="
                    let compound of getSolutionbyName(step.associated_solution)
                      .compound_concentrations | keyvalue
                  "
                >
                  <p class="less-space">
                    {{ compound.key }}: {{ compound.value | number : "1.3-3" }}M
                  </p>
                  <mat-divider></mat-divider>
                </mat-card-content>
              </mat-card>
              <mat-card class="ion-container">
                <mat-card-content
                  *ngFor="
                    let ion of getSolutionbyName(step.associated_solution)
                      .ion_concentrations | keyvalue
                  "
                >
                  <p class="less-space">
                    {{ ion.key }}: {{ ion.value | number : "1.3-3" }}M
                  </p>
                  <mat-divider></mat-divider>
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </mat-card>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <mat-chip-listbox
          class="category_choice"
          [formControl]="selectedOperationGroup"
        >
          <mat-chip-option
            *ngFor="let group of operationGroups"
            [value]="group.id"
            (selectionChange)="onOperationGroupSelect($event)"
          >
            {{ group.displayName }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card>
    <mat-card
      *ngIf="volumeAdditions || targetConc_pH || solutionModification"
      class="category_choice"
    >
      <mat-card-content *ngIf="volumeAdditions">
        <mat-chip-listbox [formControl]="selectedActionItem">
          <mat-chip-option
            *ngFor="let action of volume_actions"
            (selectionChange)="onVolumeActionSelect($event)"
            [value]="action.id"
          >
            {{ action.displayName }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>

      <mat-card-content *ngIf="targetConc_pH">
        <mat-chip-listbox [formControl]="selectedActionItem">
          <mat-chip-option
            *ngFor="let action of target_conc_pH_actions"
            (selectionChange)="onTargetConc_pHActionSelect($event)"
            [value]="action.id"
          >
            {{ action.displayName }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
      <mat-card-content *ngIf="solutionModification">
        <mat-chip-listbox [formControl]="selectedActionItem">
          <mat-chip-option
            *ngFor="let action of solution_modification_actions"
            (selectionChange)="onSolutionModificationActionSelect($event)"
            [value]="action.id"
          >
            {{ action.displayName }}
          </mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
<mat-card
  class="step-form-card"
  *ngIf="
    volumeAdditionsActionsSelected ||
    targetConc_pHActionsSelected ||
    solutionModificationActionsSelected
  "
>
  <mat-card-content *ngIf="selectedTemplate">
    <ng-container
      class="step-form-card-content"
      *ngTemplateOutlet="selectedTemplate"
    ></ng-container>
  </mat-card-content>
</mat-card>

<mat-card
  class="solution-list-background"
  *ngIf="steps_list.length - solution_names.length > 0"
>
  <mat-card-header>
    <mat-card-title>Step List </mat-card-title>
  </mat-card-header>
  <mat-card class="solution-list-container" #scrollRef *ngIf="steps_list">
    <ng-container *ngFor="let step of steps_list; let i = index">
      <mat-card
        class="solution-card"
        *ngIf="step.category != 'Make'"
        [attr.data-index]="i"
        (click)="onSelectItem(i)"
        [ngClass]="{
          'selected-card': i === selectedStepIndex,
          'card-invalid': step.result_flag.flag === 'Invalid'
        }"
      >
        <mat-card-content>
          <mat-card-subtitle class="buffer-name">{{
            step.operation_method
          }}</mat-card-subtitle>
          <div *ngFor="let item of step.parameters | keyvalue">
            <p class="less-space">{{ item.key }}: {{ item.value }}</p>
          </div>
          <div *ngIf="step.result_flag['flag'] === 'Invalid'">
            {{ step.result_flag["comment"] }}
          </div>
          <mat-card-actions class="normal-buttons">
            <button mat-stroked-button color ="warn" (click)="removeStep(i)">Remove</button>
            <button mat-stroked-button color="accent" (click)="editStep(i)">Edit</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </mat-card>
  <mat-card-actions *ngIf="solution_mixture_steps_edit">
    <button mat-raised-button color="primary" (click)="onExecute()">
      God Make my Formulation
    </button>
  </mat-card-actions>
</mat-card>

<mat-card
  class="solution-mixture-view-card"
  *ngIf="
    solution_mixture_steps_edit && steps_list.length - solution_names.length > 0">



      <mat-card-content class="solution-volume-pH-card">
        <p class="less-space">
          Total Volume: {{ solution_mixture_steps_edit.volume | number : "1.1-1" }} L
        </p>

      <mat-divider></mat-divider>
      <p class="less-space">pH : {{ solution_mixture_steps_edit.pH | number : "1.3-3"}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-content
    *ngFor="
      let solution of solution_mixture_steps_edit
        .solutions 
    "
  >
    <p class="less-space">
      {{ solution.name }}: {{ solution.volume | number : "1.1-1" }}L
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>




  <mat-card-content
  class="comp-ion-container"
>
  <mat-card class="compound-container">
    <mat-card-content
      *ngFor="
        let compound of solution_mixture_steps_edit
          .compound_concentrations | keyvalue
      "
    >
      <p class="less-space">
        {{ compound.key }}: {{ compound.value | number : "1.3-3" }}M
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
  <mat-card class="ion-container">
    <mat-card-content
      *ngFor="
        let ion of solution_mixture_steps_edit
          .ion_concentrations | keyvalue
      "
    >
      <p class="less-space">
        {{ ion.key }}: {{ ion.value | number : "1.3-3" }}M
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</mat-card-content>

</mat-card>

<mat-chip-listbox >
  <mat-chip-option *ngFor="let measurement of allMeasurements" [value]="measurement" (selectionChange) = "onSelectionChange($event)">{{measurement}}</mat-chip-option>
</mat-chip-listbox>

<button mat-raised-button color="primary" (click)="onPlotOM()">Plot</button>
<ngx-charts-bubble-chart
  *ngIf="selectPlotData"
  [results]="selectPlotData"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="'Volume'"
  [yAxisLabel]="'God'">
</ngx-charts-bubble-chart>



<ng-template #TitrateSpecifiedVolumeofSolution>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header>
        <mat-card-title>
          Titrate with Specified Volume of Solution</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Volume to Titrate</mat-label>
          <input matInput formControlName="volume" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSpecifiedVolumeofSolution>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header>
        <mat-card-title> Add Specified Volume of Solution</mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Volume to Add</mat-label>
          <input matInput formControlName="volume_to_add" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="template_buttons">
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSpecifiedVolumeofWater>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header>
        <mat-card-title> Add Specified Volume of Water</mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Volume to Add</mat-label>
          <input matInput formControlName="volume_to_add" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #DilutetoRatioWater>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header>
        <mat-card-title> Dilute by a ratio with Water </mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Dilution Ratio</mat-label>
          <input matInput formControlName="dilution_ratio" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddWaterToTargetCompoundConcentration>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Add Water to Target Compound Concentration</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Compound Name</mat-label>
          <mat-select formControlName="compound_name">
            <mat-option *ngFor="let name of compound_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Compound Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddWaterToTargetIonConcentration>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Add Water to Target Compound Concentration</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Ion Name</mat-label>
          <mat-select formControlName="ion_name">
            <mat-option *ngFor="let name of ion_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Ion Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSolutionToTargetIonConcentration>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Add Water to Target Compound Concentration</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ion Name</mat-label>
          <mat-select formControlName="ion_name">
            <mat-option *ngFor="let name of ion_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Ion Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSolutionToTargetpH>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Add Water to Target Compound Concentration</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target pH</mat-label>
          <input matInput formControlName="target_pH" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #ModifySolutionToTargetConcpH>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Modify Solution to Achieve Target Buffer Concentration and
          pH</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Volume ratio of solution to achieve target</mat-label>
          <input matInput formControlName="dilution_ratio" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Buffer Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Target pH</mat-label>
          <input matInput formControlName="target_pH" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="template_buttons">
        <button mat-raised-button color="primary">
          <mat-icon>edit</mat-icon>{{ add_edit_label }}
        </button>
        <div *ngIf="edit_step_index !== null">
          <button mat-raised-button color="primary" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>
