<!-- Provides a list of the previously prepared solutions -->
<mat-card class="solution-mixture-steps-card">
  <mat-card-header>
    <mat-card-title> Multi-Step Solution Designer </mat-card-title>
  </mat-card-header>
  <!-- Holds the solution list from previous step -->
  <mat-card class="wrapper-solution-list">
    <mat-card class="solution-list-background" *ngIf="steps_list.length > 0">
      <mat-card class="solution-list-container" #scrollRef *ngIf="steps_list">
        <ng-container *ngFor="let step of steps_list; let i = index">
          <mat-card
            class="solution-card"
           
            *ngIf="step.category == 'Make'"
            [attr.data-index]="i"
          >
            <mat-card-header>
              <mat-card-subtitle class="buffer-name" [ngStyle]="{ 'background-color': solution_colors[i]}">{{
                step.associated_solution
              }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content
              *ngIf="getSolutionbyName(step.associated_solution)"
              class="comp-ion-container"
            >
              <div class="compound-container">
                <mat-card
                  class="boxy"
                  *ngFor="
                    let compound of getSolutionbyName(step.associated_solution)
                      .compound_concentrations | keyvalue
                  "
                >
                  <p class="less-space">
                    {{ compound.key }}: {{ compound.value | number : "1.3-3" }}M
                  </p>
                </mat-card>
              </div>
              <div class="ion-container">
                <mat-card
                  class="boxy"
                  *ngFor="
                    let ion of getSolutionbyName(step.associated_solution)
                      .ion_concentrations | keyvalue
                  "
                >
                  <p class="less-space">
                    {{ ion.key }}: {{ ion.value | number : "1.3-3" }}M
                  </p>
                </mat-card>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </mat-card>
    </mat-card>
    <!-- Create and Edit Steps for Solution Design -->
    <mat-card class="grid-container" *ngIf="!IsFormulationSubmitted">
      <mat-card class="choice-cards">
        <mat-card-header>
          <mat-card-title>Create a Step</mat-card-title>
        </mat-card-header>
        <mat-card-content class="category-card-content">
          <mat-chip-listbox
            class="category_choice"
            [formControl]="selectedOperationGroup"
            class="mat-mdc-chip-set-stacked"
          >
            <mat-chip-option
              *ngFor="let group of operationGroups"
              [value]="group.id"
              (selectionChange)="onOperationGroupSelect($event)"
            >
              {{ group.displayName }}
            </mat-chip-option>
          </mat-chip-listbox>
        </mat-card-content>
      </mat-card>
      <mat-card
        *ngIf="volumeAdditions || targetConc_pH || solutionModification"
        class="category_choice"
      >
        <mat-card-content
          class="secondary-choice-content"
          *ngIf="volumeAdditions"
        >
          <mat-chip-listbox
            [formControl]="selectedActionItem"
            class="mat-mdc-chip-set-stacked"
          >
            <mat-chip-option
              *ngFor="let action of volume_actions"
              (selectionChange)="onVolumeActionSelect($event)"
              [value]="action.id"
            >
              {{ action.displayName }}
            </mat-chip-option>
          </mat-chip-listbox>
        </mat-card-content>

        <mat-card-content
          class="secondary-choice-content"
          *ngIf="targetConc_pH"
        >
          <mat-chip-listbox [formControl]="selectedActionItem">
            <mat-chip-option
              *ngFor="let action of target_conc_pH_actions"
              (selectionChange)="onTargetConc_pHActionSelect($event)"
              [value]="action.id"
            >
              {{ action.displayName }}
            </mat-chip-option>
          </mat-chip-listbox>
        </mat-card-content>
        <mat-card-content
          class="secondary-choice-content"
          *ngIf="solutionModification"
        >
          <mat-chip-listbox [formControl]="selectedActionItem">
            <mat-chip-option
              *ngFor="let action of solution_modification_actions"
              (selectionChange)="onSolutionModificationActionSelect($event)"
              [value]="action.id"
            >
              {{ action.displayName }}
            </mat-chip-option>
          </mat-chip-listbox>
        </mat-card-content>
      </mat-card>

      <mat-card
        class="step-form-card"
        *ngIf="
          volumeAdditionsActionsSelected ||
          targetConc_pHActionsSelected ||
          solutionModificationActionsSelected
        "
      >
        <mat-card-content
          class="selected-template-content"
          *ngIf="selectedTemplate"
        >
          <ng-container
            class="step-form-card-content"
            *ngTemplateOutlet="selectedTemplate"
          ></ng-container>
        </mat-card-content>
      </mat-card>
    </mat-card>

    <!-- Display and Edit the Steps for Solution Design -->
    <mat-card
      class="solution-list-background"
      *ngIf="steps_list.length - solution_names.length > 0"
    >
      <mat-card-header
        *ngIf="solution_mixture_steps_edit"
        class="header-button"
      >
        <mat-card-title>Step List </mat-card-title>
        <button mat-stroked-button class="stroked_btn" 
          *ngIf="IsFormulationSubmitted"
          color="primary"
          (click)="IsFormulationSubmitted = false"
        >
          Add Steps...
        </button>
        <button mat-raised-button color="primary"  (click)="onExecute()">
          God Formulate
        </button>
      </mat-card-header>
      <mat-card class="solution-list-container" #scrollRef *ngIf="steps_list">
        <ng-container *ngFor="let step of steps_list; let i = index">
          <mat-card
            class="solution-card"
            
            *ngIf="step.category != 'Make'"
            [attr.data-index]="i"
            (click)="onSelectItem(i)"
            [ngClass]="{
              'selected-card': i === selectedStepIndex,
              'card-invalid': step.result_flag.flag === 'Invalid'
            }"
          >
            <mat-card-content class="step-card">
              <mat-card-subtitle class="buffer-name" [ngStyle]="{ 'background-color': phase_colors_dark[i] }">{{
                step.operation_method
              }}</mat-card-subtitle>
                  <div *ngFor="let item of step.parameters | keyvalue" class="less-space">
               
                      <div class="keyp">{{ formatKey(item.key) }}:</div>
                      <div class="valuep">{{ item.value }}</div>
                    <mat-divider></mat-divider>
                  </div>
          
              <div *ngIf="step.result_flag['flag'] === 'Invalid'">
                {{ step.result_flag["comment"] }}
              </div>
              <mat-card-actions class="normal-buttons">
                <button class="stroked_btn" mat-stroked-button color="warn" (click)="removeStep(i)">
                  Remove
                </button>
                <button class="stroked_btn" mat-stroked-button color="accent" (click)="editStep(i)">
                  Edit
                </button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </mat-card>
    </mat-card>
    <!-- View the Solution Mixture after the formulation -->
    <mat-card
      class="solution-mixture-view-card"
      *ngIf="
        solution_mixture_steps_edit &&
        steps_list.length - solution_names.length > 0 &&
        IsFormulationSubmitted
      "
    >
      <mat-card-header>
        <mat-card-title>Formulated Solution Mixture      </mat-card-title>
       
      </mat-card-header>
       <mat-card class="titles">           
        <div class="pH">
             pH : {{ solution_mixture_steps_edit.pH | number : "1.3-3" }}
        </div>
        <div class="Volume">
              Volume:
              {{ solution_mixture_steps_edit.volume | number : "1.1-1" }} L
        </div>
      </mat-card>

      <mat-card class="vol_pH_solution">
        <mat-card class="solution-volume-pH-card" >
        <div class="solution-name-vol" *ngFor="let solution of solution_mixture_steps_edit.solutions ; let i = index">
          <div [ngStyle]="{'display': 'inline-block', 'width.px': 20, 'height.px': 20, 'background-color': solution_colors[i]}"></div> 
          <div> {{ solution.name }}: {{ solution.volume | number : "1.1-1" }}L
        </div>
        </div>
          <mat-divider></mat-divider>
        </mat-card>

      </mat-card>

        <mat-card class="comp-ion-container">
        <mat-card class="compound-container">
          <mat-card-title>Compound Concentrations</mat-card-title>
          <mat-card-content
            *ngFor="
              let compound of solution_mixture_steps_edit.compound_concentrations
                | keyvalue
            "
          >
            <p class="less-space">
              {{ compound.key }}: {{ compound.value | number : "1.3-3" }}M
            </p>
            <mat-divider></mat-divider>
          </mat-card-content>
        </mat-card>
        <mat-card class="ion-container">
          <mat-card-title>Ion Concentrations</mat-card-title>
          <mat-card-content
            *ngFor="
              let ion of solution_mixture_steps_edit.ion_concentrations
                | keyvalue
            "
          >
            <p class="less-space">
              {{ ion.key }}: {{ ion.value | number : "1.3-3" }}M
            </p>
            <mat-divider></mat-divider>
          </mat-card-content>
        </mat-card>
      </mat-card>
   
    </mat-card>
  </mat-card>
</mat-card>

<!-- <div class="grid-contain">
  <div class="grid-item title">Formulated Solution Mixture</div>
      <div class="grid-item pH ">pH : 7.459</div>
    <div class="grid-item Vol ">Total Volume: 1000 mL</div>
  <div class="grid-item solution_list">50mM Tris, pH 7.0 : 100 L</div>
  <div class="grid-item solution_list">50mM Phosphate, pH 7.4 : 100 L</div>
  <div class="grid-item solution_list">50mM Acetate, pH 5 : 100 L</div>
</div>

<div class="grid-contain2">
 
    <div class="compound_list ">
      <div>Sodium Acetate : 0.05M</div>
    <div>Sodium Chloride : 0.04M</div>
    <div>Sodium Phosphate : 0.09M</div>
    </div>
  


 
  <div class="ion_list">
    <div>Acetate : 0.05M</div>
  <div>Chloride : 0.04M</div>
  <div>Phosphate : 0.09M</div>
  <div>Phosphate : 0.09M</div>
</div>
</div> -->

<!-- Templates to Dynamically Create all the Steps forms for Solution Design -->

<ng-template #TitrateSpecifiedVolumeofSolution>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header>
        <mat-card-title>
          Titrate with Specified Volume of Solution</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Volume to Titrate</mat-label>
          <input matInput formControlName="volume" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSpecifiedVolumeofSolution>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header>
        <mat-card-title> Add Specified Volume of Solution</mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Volume to Add</mat-label>
          <input matInput formControlName="volume_to_add" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="template_buttons">
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSpecifiedVolumeofWater>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header class="template-header">
        <mat-card-title> Add Specified Volume of Water</mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Volume to Add</mat-label>
          <input matInput formControlName="volume_to_add" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #DilutetoRatioWater>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="VolumeActionForm">
      <mat-card-header>
        <mat-card-title> Dilute by a ratio with Water </mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Dilution Ratio</mat-label>
          <input matInput formControlName="dilution_ratio" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddWaterToTargetCompoundConcentration>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Add Water to Target Compound Concentration</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Compound Name</mat-label>
          <mat-select formControlName="compound_name">
            <mat-option *ngFor="let name of compound_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Compound Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddWaterToTargetIonConcentration>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title> Add Water to Target Ion Concentration</mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Ion Name</mat-label>
          <mat-select formControlName="ion_name">
            <mat-option *ngFor="let name of ion_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Ion Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSolutionToTargetIonConcentration>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Add Solution to Target Ion Concentration</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ion Name</mat-label>
          <mat-select formControlName="ion_name">
            <mat-option *ngFor="let name of ion_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Ion Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #AddSolutionToTargetpH>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title> Add Solution to Target pH</mat-card-title>
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target pH</mat-label>
          <input matInput formControlName="target_pH" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">{{ add_edit_label }}</button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<ng-template #ModifySolutionToTargetConcpH>
  <form [formGroup]="currentStepForm" (ngSubmit)="onSubmit()">
    <mat-card class="targetConc_pHform">
      <mat-card-header>
        <mat-card-title>
          Modify Solution to Target Buffer Conc. and pH</mat-card-title
        >
      </mat-card-header>
      <mat-card-content class="template-form-fields">
        <mat-form-field appearance="fill">
          <mat-label>Solution Name</mat-label>
          <mat-select formControlName="solution_name">
            <mat-option *ngFor="let name of solution_names" [value]="name">{{
              name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Volume ratio of solution to achieve target</mat-label>
          <input matInput formControlName="dilution_ratio" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Target Buffer Concentration</mat-label>
          <input matInput formControlName="target_conc" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Target pH</mat-label>
          <input matInput formControlName="target_pH" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="template_buttons">
        <button mat-raised-button color="primary">
          {{ add_edit_label }}
        </button>
        <div *ngIf="edit_step_index !== null">
          <button
            mat-raised-button
            color="primary"
            (click)="onCancelEdit(edit_step_index)"
          >
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-template>

<!-- 
 <mat-card class="optionb"   >
<mat-card-content class="optionb-content">
 <mat-form-field>
      <mat-label>Select an action</mat-label>
      <mat-select [formControl]="selectedActionItem">
        <mat-optgroup label="Volume Additions">
          <mat-option
            *ngFor="let action of volume_actions"
            (onSelectionChange)="onVolumeActionSelectDD($event)"
            [value]="action.id"
          >
            Volume Additions: {{ action.displayName }}
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="Target Conc pH">
          <mat-option
            *ngFor="let action of target_conc_pH_actions"
            (onSelectionChange)="onTargetConc_pHActionSelectDD($event)"
            [value]="action.id"
          >
            Target Conc or pH: {{ action.displayName }}
          </mat-option>
        </mat-optgroup>

        <mat-optgroup label="Solution Modification">
          <mat-option
            *ngFor="let action of solution_modification_actions"
            (onSelectionChange)="onSolutionModificationActionSelectDD($event)"
            [value]="action.id"
          >
            Solution Modification : {{ action.displayName }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>



  </mat-card-content>
 </mat-card>

 -->
