
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<mat-toolbar class="toolbar-om">
      <mat-toolbar-row class="button-row">
      <H1 class="mat-headline-4" > EXPERT BUFFER CALCULATOR OMV1 </H1> 
<!--         <div class="buttons">
        <button mat-button color="accent" routerLink="/NLP-Input" routerLinkActive="active-link">NLP Input</button>
        <button mat-button routerLink="/Drop-Down-Input" routerLinkActive="active-link">Dropdown Input</button>
        <button mat-button routerLink="/pH-Calculator" routerLinkActive="active-link">pH Calculator</button>
    </div> -->
    </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="First" routerLink="/NLP-Input" routerLinkActive #firstTab="routerLinkActive">
      <ng-template matTabContent>
        <app-chatbufferom *ngIf="firstTab.isActive"></app-chatbufferom>
      </ng-template>
    </mat-tab>
    <mat-tab label="Second" routerLink="/Drop-Down-Input" routerLinkActive #secondTab="routerLinkActive">
      <ng-template matTabContent>
        <app-buffer-calculation-option2 *ngIf="secondTab.isActive"></app-buffer-calculation-option2>
      </ng-template>
    </mat-tab>
    <mat-tab label="Third" routerLink="/pH-Calculator" routerLinkActive #thirdTab="routerLinkActive">
      <ng-template matTabContent>
        <app-buffer-calculation-option2 *ngIf="thirdTab.isActive"></app-buffer-calculation-option2>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->