.super-calculator-card {
  display:grid;
    grid-template-columns:1fr;
    grid-auto-flow: row;
    margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  @media (min-width: 450px) {
    grid-template-columns: 1fr 1fr;
    
  }
}

.super-calculator-col1 {
display:grid;
grid-auto-flow:row;
    @media (min-width: 450px) {
      grid-auto-flow:column
    }
}
.super-calculator-col2 {
display:grid;
grid-auto-flow:row;
    @media (min-width: 450px) {
      grid-auto-flow:column
    }
}

.super-calculator-col3 {
    grid-column: 1;
  display:grid;
  grid-template-columns:1fr 1fr;
  background-color: #f9f9f9;
  @media (min-width: 450px) {
    grid-template-columns: 1fr 1fr;
  }
}

.super-calculator-button {
    grid-column: 1/span 2 ;
    //width: 300px;
}
.super-button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  //background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #f0f0f0;
  }
}

.adjust_pH {
    align-self:center;
    margin-left: 16px;
}