<mat-card class="about-container">
    <mat-card-title ><h2 class="title">About Us</h2></mat-card-title>
    <div class="intro">
      <p> Welcome to Expert Buffer Designer, the go-to-place for buffer design, today! </p>
      <p>Our vision is to revolutionize research by making advanced buffer calculations and design accessible to everyone across the globe. 
      Today, most of these tools are hidden in books and journal articles, severely hindering the ability for the average 
      scientist or engineer to understand characterize and improve their processes.</p>
      <p>Our mission is to provide a platform that enables scientists and engineers to design buffers with confidence,
      and to provide a community where they can share their knowledge and experience with others. </p>
      <p>Our goal is to provide a comprehensive set of tools and resources that will enable you to design buffers for a wide range of 
        applications,and we seek new applications and challenges to adapt our tools for it!</p>
    
      <p>This website represents very hard work by a few passionate individuals! </p>
    </div>
  
    <h2>Meet the Team</h2>
    <div class="card-container">
      
      <!-- Card for each team member -->
      <div class="team-card" *ngFor="let member of teamMembers">
        <img [src]="member.image" alt="Photo of {{member.name}}" class="team-photo">
        <h3>{{member.name}}</h3>
        <H3 class="title">{{member.title}}</H3>
        <p class="bio">{{member.bio}}</p>
      </div>
    </div>
  </mat-card>
