@import "src/buffer_colors.scss";

.about-container {
  display: flex;
  background-color: $primary-background-color;
  @include inset-border;
  text-align: center;
  padding: 20px;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
  @media (max-width: 450px) {
    padding: 10px;
  }

  .about-container-card {
    padding: 15px;
    background-color: $primary-background-color;
    @media (max-width: 450px) {
      padding: 10px;
    }
    .intro {
      font-size: x-small;
      padding: 20px;
      padding-top: 10px;
      margin: 10px 0;
      line-height: 1.6;
      text-align: justify;
      .int-p {
        border-bottom: 1px solid $pink-background-color;

      }
      @media (max-width: 450px) {
        padding: 10px;
        margin: 0 auto;
      }
    }
  }
  .team-card-container {
    background-color: $primary-background-color;
    @include inset-border;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 450px) {
      flex-direction: column;
      // flex-wrap: nowrap;
    }
    .team-card {
      background-color: $primary-background-color;
      border: 5px solid $yellow-border-color;
      border-radius: 20px;

      padding: 8px;
      margin: 8px;
      flex: 1 0 25%; /* Default to 30% width */

      @media (max-width: 450px) {
        flex: 1 0 90%;
      }
      .team-photo {
        border: 3px solid $darker-background-color;
        border-radius: 50%;
        width: 75px; /* Adjust as needed */
        height: auto;
        align-self: center;
      }
      .mat-body {
        padding: 3px;
        margin: 0;
      }
    }
  }
}
