@use '@angular/material' as mat;
@import 'src/shared-styles.scss';
:root {
 --darkest-background-color: #{$darkest-background-color};
  --primary-text-color: #{$primary-text-color};
  --dark-scrollbar-track-color: #{$dark-scrollbar-track-color};
  --light-scrollbar-thumb-color: #{$light-scrollbar-thumb-color};
  --primary-background-color1: #{$primary-background-color1};
  --primary-background-color: #{$primary-background-color};
  --darker-background-color: #{$darker-background-color};
  --lighter-background-color: #{$lighter-background-color};
  --teal-background-color: #{$teal-background-color};
  --orange-background-color: #{$orange-background-color};
  --darker-orange-background-color: #{$darker-orange-background-color};
  --pink-background-color: #{$pink-background-color};
  --blue-background-color: #{$blue-background-color};
  --gray-inset-shadow-color: #{$darker-inset-shadow-color};
  --gray-border-color1: #{$gray-border-color1};
  --gray-border-color: #{$gray-border-color};
  --red-error-color: #{$red-error-color};
  --green-success-color: #{$green-success-color};
  --yellow-border-color: #{$yellow-border-color};
  --black-box-shadow-color: #{$black-box-shadow-color};
  --gray-background-color: #{$gray-background-color};
  --lighter-teal-background-color: #{$lighter-teal-background-color};
  --lighter-orange-background-color: #{$lighter-orange-background-color};
  --lighter-pink-background-color: #{$lighter-pink-background-color};
  --lighter-text-color: #{$lighter-text-color};
  --inset-shadow-color-white: #{$inset-shadow-color-white};
   --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --background-color: #{$background-color};
  --headtext-color: #{$headtext-color};
  --quaternary-color: #{$quaternary-color};
  --card-background: #{$card-background};
  --divider-green: #{$divider-green};
  --accent-green: #{$accent-green};
  --card-background-cream: #{$card-background-cream};
  --border-color: #{$border-color};
  --accent-chip1old: #{$accent-chip1old};
  --accent-chip1: #{$accent-chip1};
  --accent-chip2: #{$accent-chip2};
  --accent-chip: #{$accent-chip};
  --dull-text-color: #{$dull-text-color};
  --background-primary: #{$background-primary};
  --main-border-color: #{$main-border-color};
  --inset-shadow-color: #{$inset-shadow-color};
  --inset-shadow-color-blue: #{$inset-shadow-color-blue};
  --inset-shadow-color-grey: #{$inset-shadow-color-grey};
  --inset-shadow-color-tan: #{$inset-shadow-color-tan};
  --inset-shadow-color-white: #{$inset-shadow-color-white};
  --inset-shadow-color-white2: #{$inset-shadow-color-white2};
  --main-page-padding: #{$main-page-padding};
}