// shared-styles.scss
@use '@angular/material' as mat;
//$primary-color: #1B5E20;
$primary-color: whitesmoke;
$secondary-color:#202A44;
$background-color:whitesmoke;
$headtext-color: mat.get-color-from-palette(mat.$indigo-palette,900);
$quaternary-color: #EFCDAF;
//$card-background: #a6bdb1;
//$card-background: #CFD8DC;
//$card-background:#b0dbed;
$card-background: mat.get-color-from-palette(mat.$blue-palette,50);
$divider-green:  mat.get-color-from-palette(mat.$green-palette,900);
$card-background-cream: #CFD8DC;
$border-color: #b0b7c1;
$my-blue: #202e44;
$my-brown: #8B734C;
$my-light-blue: #A9BBc8;
$my-cream: #c7BCAB;
$my-gray: #F2F2EB;
$my-teal:#107274;
$my-dark-brown:#582B20;
$my-green: #3F4F0a;
$my-dark-green: #1B401F;
$my-neutral: #FDF1ED;

$my-viva-magenta:#202A44;
$my-pale-dogwood: #EDCDC2;
$my-gray-sand: #E5CCB0;
$my-gray-lilac: #D4CACD;
$my-pale-khaki: #BFB092;
$my-fields-of-rye: #B7A990;
$my-agate-gray: #B4B1A1;
$my-plien-air: #BFCAD6;


$bootstrap-blue: #007BFF;
$bootstrap-blue-lighter-1: #66b2ff;
$bootstrap-blue-lighter-2: #99ccff;
$bootstrap-blue-lighter-3: #b3d1ff;
$bootstrap-blue-darker-1: #0056b3;
$bootstrap-blue-darker-2: #003f7d;
$bootstrap-blue-darker-3: #002a47;

$bootstrap-gray: #6C757D;
$bootstrap-gray-lighter-1: #959ea9;
$bootstrap-gray-lighter-2: #b0b7c1;
$bootstrap-gray-lighter-3: #a6bdb1;
$bootstrap-gray-darker-1: #474e54;
$bootstrap-gray-darker-2: #282d30;
$bootstrap-gray-darker-3: #0a0c0d;

$bootstrap-green: #28A745;
$bootstrap-green-lighter-1: #5ad78a;
$bootstrap-green-lighter-2: #8be5a9;
$bootstrap-green-lighter-3: #b2f1c4;
$bootstrap-green-darker-1: #1e7e34;
$bootstrap-green-darker-2: #145324;
$bootstrap-green-darker-3: #0a2a14; 
//$background-green:rgb(68, 96, 68);
$background-green:#CFD8DC;
$my-blue-primary: #A9BBC8;
$my-blue-accent: #8B734C;
$my-blue-primary-dark: #202E44;
$my-blue-neutral: #F2F2EB;
$my-blue-light-brown-neutral:#c7BCAB;
$my-blue-neutral-2: #E6e2db;
