
@use '@angular/material' as mat;

@import '@angular/material/theming';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


$Lato-font-family: "Lato", sans-serif;
$buffer-designer-typography: mat.define-typography-config(
  $font-family: $Lato-font-family,
  $headline-1: mat.define-typography-level(96px, 96px, 300),
  $headline-2: mat.define-typography-level(60px, 60px, 300),
  $headline-3: mat.define-typography-level(48px, 48px, 400),
  $headline-4: mat.define-typography-level(34px, 34px, 400),
  $headline-5: mat.define-typography-level(24px, 24px, 400),
  $headline-6: mat.define-typography-level(20px, 20px, 500),
  $subtitle-1: mat.define-typography-level(16px, 16px, 400 ),
  $subtitle-2: mat.define-typography-level(14px, 14px, 500),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $overline: mat.define-typography-level(10px, 10px, 500),


);

@include mat.core();








////////////////////  SCSS for the buffer-designer component //////////////////////
/// 
/// 
$medium-gray-palette: mat.define-palette((
  50: #f5f5f5,
  100: #e0e0e0,
  200: #bdbdbd,
  300: #9e9e9e,
  400: #757575,
  500: #424242,
  600: #3b3b3b,
  700: #333333,
  800: #2b2b2b,
  900: #212121,
  A100: #d5d5d5,
  A200: #aaaaaa,
  A400: #303030,
  A700: #1d1d1d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));


$charcoal-palette: mat.define-palette((
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #333333,
  500: #1f1f1f,
  600: #1b1b1b,
  700: #151515,
  800: #101010,
  900: #0b0b0b,
  A100: #d6d6d6,
  A200: #aaaaaa,
  A400: #595959,
  A700: #1d1d1d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));


$dark-terra-cotta-palette: mat.define-palette((
   50 : #f7ebe9,
    100 : #eccdc7,
    200 : #dfaba2,
    300 : #d2897d,
    400 : #c97061,
    500 : #bf5745,
    600 : #b94f3e,
    700 : #b14636,
    800 : #a93c2e,
    900 : #9b2c1f,
    A100 : #ffd9d5,
    A200 : #ffaaa2,
    A400 : #ff7c6f,
    A700 : #ff6556,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
));

$fandango-palette: mat.define-palette((
  50: #ffe6ef,
  100: #ffbfd6,
  200: #ff80a8,
  300: #ff4080,
  400: #ff1a5e,
  500: #c54b6c,
  600: #b1445f,
  700: #993b52,
  800: #823345,
  900: #662635,
  A100: #ff80a8,
  A200: #ff4080,
  A400: #c54b6c,
  A700: #662635,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));

$cerulean-palette: mat.define-palette((
  50: #e0f7fa,
  100: #b3eaf6,
  200: #80dbf1,
  300: #4dcbed,
  400: #26bfea,
  500: #1ba1e2,
  600: #1793d9,
  700: #1382ce,
  800: #0f71c3,
  900: #0952b0,
  A100: #80dbf1,
  A200: #1ba1e2,
  A400: #0f71c3,
  A700: #0952b0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));



$deep-teal-palette: mat.define-palette((
  50: #e0f4f3,
  100: #b3e3e0,
  200: #80cfca,
  300: #4db9b3,
  400: #26a69a,
  500: #00524e,
  600: #004a46,
  700: #00403d,
  800: #003634,
  900: #002726,
  A100: #80cfca,
  A200: #00524e,
  A400: #003634,
  A700: #002726,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));

$error-palette: mat.define-palette((
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #E76F51, // Red-Orange
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));

$warn-palette: mat.define-palette((
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #F28C28, // Orange
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));

$whitesmoke-palette: mat.define-palette((
  50: #ffffff, // White
  100: #fafafa, // Very light grey
  200: #f5f5f5, // Whitesmoke
  300: #eeeeee, // Light grey
  400: #e0e0e0, // Grey
  500: #d6d6d6, // Medium grey
  600: #c0c0c0, // Slightly darker medium grey
  700: #a8a8a8, // Dark grey
  800: #8f8f8f, // Darker grey
  900: #6d6d6d, // Darkest grey
  A100: #ffffff, // White (accent)
  A200: #fafafa, // Very light grey (accent)
  A400: #f5f5f5, // Whitesmoke (accent)
  A700: #e0e0e0, // Grey (accent)
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));

$buffer-designer-dark-theme: mat.define-dark-theme((
  color: (
    primary: $cerulean-palette,
    secondary: $deep-teal-palette,
    accent: $dark-terra-cotta-palette,
    foreground:  $fandango-palette,
    error: $error-palette,
    warn: $warn-palette,
    dark: $charcoal-palette,
    background: $medium-gray-palette,
    white: $whitesmoke-palette
  ),
  typography: $buffer-designer-typography

));

@include mat.all-component-themes($buffer-designer-dark-theme);

// @include mat.typography-hierarchy($buffer-designer-typography);


$primary-text-color: mat.get-color-from-palette($whitesmoke-palette,200);
$dark-scrollbar-track-color: mat.get-color-from-palette($charcoal-palette,400);
$light-scrollbar-thumb-color: mat.get-color-from-palette($charcoal-palette,200);
$primary-background-color1: mat.get-color-from-palette($medium-gray-palette,800);
$primary-background-color: mat.get-color-from-palette($charcoal-palette,800);
$darker-background-color: mat.get-color-from-palette($charcoal-palette,500);
$lighter-background-color: mat.get-color-from-palette($medium-gray-palette,600);
$teal-background-color: mat.get-color-from-palette($deep-teal-palette,500);
$orange-background-color: mat.get-color-from-palette($dark-terra-cotta-palette,500);
$darker-orange-background-color: mat.get-color-from-palette($dark-terra-cotta-palette,800);
$pink-background-color: mat.get-color-from-palette($fandango-palette,500);
$blue-background-color: mat.get-color-from-palette($cerulean-palette,500);
$gray-inset-shadow-color:mat.get-color-from-palette($charcoal-palette,200);
$gray-border-color1: mat.get-color-from-palette($charcoal-palette,200);
$gray-border-color: mat.get-color-from-palette($charcoal-palette,500);
$red-error-color: mat.get-color-from-palette($error-palette,900);
$green-success-color: #127907;
$yellow-border-color: mat.get-color-from-palette($warn-palette,300);
$black-box-shadow-color: mat.get-color-from-palette($charcoal-palette,500);
$gray-background-color: mat.get-color-from-palette($charcoal-palette,400);
$lighter-teal-background-color: mat.get-color-from-palette($deep-teal-palette,300);
$lighter-orange-background-color: mat.get-color-from-palette($dark-terra-cotta-palette,300);
$lighter-pink-background-color: mat.get-color-from-palette($fandango-palette,300);
$lighter-text-color: mat.get-color-from-palette($whitesmoke-palette,400);
$inset-shadow-color-white:#8f8e8b;
@mixin inset-border {
  //border: 2px solid $main-border-color;
  box-shadow:inset 0 0 8px 2px $inset-shadow-color-white;
}
$main-page-padding:10px;

$primary-color: whitesmoke;
$secondary-color:#202A44;
$background-color:whitesmoke;
$headtext-color: mat.get-color-from-palette(mat.$indigo-palette,900);
$quaternary-color: #EFCDAF;
$omtrybackground1: #dad8d7;
$omtrybackground2: #d8d8db;
$omtrybackground3: #e8e6e5;
$omtrybackground4: #d5d6d8;
$omtrybackground: #606162;
$card-background: mat.get-color-from-palette(mat.$blue-palette,50);
$divider-green:  mat.get-color-from-palette(mat.$green-palette,900);
$accent-green:  mat.get-color-from-palette(mat.$green-palette,500);
$card-background-cream: #CFD8DC;
$border-color: #b0b7c1;
//$accent-chip1: #086f66;

$accent-chip1old:#166257;
$accent-chip1: #00524e;
$accent-chip2: #5d5e64;
$accent-chip: #8d8e92;
$dull-text-color:  #E0E0E0;
$background-primary:$primary-background-color;

$main-border-color: #b0b7c1;
$inset-shadow-color:rgba(124, 76, 9, 0.839);
$inset-shadow-color-blue:rgba(7, 7, 84, 0.839);
$inset-shadow-color-grey:rgba(140, 139, 
137, 0.839);
$inset-shadow-color-tan:rgba(125, 124, 123, 0.839);
$inset-shadow-color-white:#8f8e8b;
$inset-shadow-color-white2:#808080;


$omtest: #5b7579;
$omtest2: #eee383;
$omtest3: #007d56;
$omtest4: #BC7640;
$omtest5: #c2654c;


